  <div class="wrapper">
            <div class="asideBox">
                <div class="asideBox-left">
                    <div class="asideBox-left-title">
                        Блокчейн Emercoin
                    </div>
                </div>
                <div class="asideBox-right">
                    <p>
                        Emercoin специализируется на криптовалюте и блокчейне. Начиная с 2013 года, она разработала широкий спектр простых в использовании dSDK. dSDK (Decentralized Software Development Kit) представляет собой набор инструментов для разработки программного обеспечения,
                        который позволяет создавать программное обеспечение, сервисы и решения. Обычно он включает в себя API, техническую документацию и фрагменты кода для быстрой и легкой разработки на определенной платформе.
                    </p>
                    <p>
                        dSDK уже успешно используются в многочисленных инновационных технических решениях, построенных на блокчейне. Emercoin предоставляет сервисы, которые могут изменить работу различных отраслей, обеспечивая средства для защиты данных, безопасного хранения
                        информации и создания распределенных сервисов.
                    </p>
                </div>
            </div>

            <div class="owl-carousel owl-carousel-2">
                {% for block in emer_blocks %}
                <div class="product">
                    <div class="product-img product-img-min" style="background-image: url({{ block.image.url }})"></div>
                    <div class="product-title product-title-big">
                        {{ block.title }}
                    </div>
                    <div class="product-text product-text-big">
                        {{ block.text }}
                    </div>
                </div>
                {% endfor %}

            </div>


        </div>