{% load static %}
<footer class="footer">
    <div class="up" style="display: block;"></div>
        <div class="wrapper">
            <div class="footer-top">
                <div class="footer-top-right">
                    <ul class="footer-top-right-menu">
                        <li>
                            <div class="title">Технологии</div>
                            <div class="footerLink ">
                                <a href="/ru/emercoin-blockchain">Блокчейн Emercoin</a>
                            </div>
                            <div class="footerLink ">
                                <a href="/ru/tech-solutions">Технологии</a>
                            </div>
                            <div class="footerLink ">
                                <a href="/ru/documentation/introduction/specifications">Спецификации</a>
                            </div>
                            <div class="footerLink ">
                                <a href="/ru/documentation/emercoin-api">Справочник API</a>
                            </div>
                            <div class="footerLink ">
                                <a href="/ru/documentation/about-emercoin">Общая документация</a>
                            </div>
                            <div class="footerLink github">
                                <a href="https://github.com/emercoin" target="_blank" rel="nofollow">Наш GitHub</a>
                            </div>
                        </li>
                        <li>
                            <div class="title">Экономика</div>
                            <div class="footerLink ">
                                <a href="/ru/benefits">Почему Emercoin?</a>
                            </div>
                            <div class="footerLink ">
                                <a href="/ru/benefits#download">Купить Emercoin</a>
                            </div>
                            <div class="footerLink ">
                                <a href="/ru/benefits#download">Скачайте кошелёк</a>
                            </div>
                        </li>
                        <li>
                            <div class="title">Обозреватели блокчейна</div>
                            <div class="footerLink ">
                                <a href="https://explorer.emercoin.com/" target="_blank" rel="nofollow">Первый</a>
                            </div>
                            <div class="footerLink ">
                                <a href="https://explorer1.emercoin.com" target="_blank" rel="nofollow">Второй</a>
                            </div>
                            <div class="footerLink ">
                                <a href="https://explorer2.emercoin.com" target="_blank" rel="nofollow">Третий</a>
                            </div>
                        </li>
                        <li>
                            <div class="title">Новости</div>
                            <div class="footerLink ">
                                <a href="/ru/news">Последние новости</a>
                            </div>
                            <div class="footerLink ">
                                <a href="/ru/events">События</a>
                            </div>
                            <div class="footerLink ">
                                <a href="/ru/road-map">Road Map</a>
                            </div>
                        </li>
                        <li>
                            <div class="title">О нас</div>
                            <div class="footerLink ">
                                <a href="/ru/contacts">Контакты</a>
                            </div>
                            <div class="footerLink ">
                                <a href="/ru/partners-and-projects">Наши партнеры</a>
                            </div>
                            <div class="footerLink ">
                                <a href="/ru/team">Наша команда</a>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="footer-top-left">
                    <ul class="footer-top-left-terms">
                        <li>
                            <a href="/ru/emercoin-terms-and-conditions" target="_blank">Условия использования</a>
                        </li>
                        <li>
                            <a href="/ru/emercoin-privacy-policy" target="_blank">Политика конфиденциальности</a>
                        </li>
                        <li>
                            <a href="{% static 'files/pdf/whitepaper.pdf' %}" target="_blank">Whitepaper</a>
                        </li>
                        <li>
                            <a href="{% static 'files/pdf/one-page.pdf' %}" target="_blank">One Pager</a>
                        </li>

                    </ul>
                    <div class="footer-top-left-socset">
                        <div class="title">Мы в социальных сетях:</div>
                        <div class="socialBox">
                            <a href="https://twitter.com/emercoin_press" rel="nofollow" target="_blank" class="social twitter" onclick="if (!window.__cfRLUnblockHandlers) return false; dataLayer.push({'event': 'other_community'});" data-cf-modified-="">twitter</a>
                            <a href="https://t.me/emercoin_official" rel="nofollow" target="_blank" class="social telegram" onclick="if (!window.__cfRLUnblockHandlers) return false; dataLayer.push({'event': 'telegram_community'});" data-cf-modified-="">telegram</a>
                            <a href="https://www.facebook.com/EmerOfficialRUS/" rel="nofollow" target="_blank" class="social facebook" onclick="if (!window.__cfRLUnblockHandlers) return false; dataLayer.push({'event': 'other_community'});" data-cf-modified-="">facebook</a>
                            <a href="https://www.youtube.com/channel/UCeHlonUkITqe4PtpW8p4wmg" rel="nofollow" target="_blank" class="social youtube" onclick="if (!window.__cfRLUnblockHandlers) return false; dataLayer.push({'event': 'other_community'});" data-cf-modified-="">youtube</a>
                            <a href="https://medium.com/@emer.tech" rel="nofollow" target="_blank" class="social medium" onclick="if (!window.__cfRLUnblockHandlers) return false; dataLayer.push({'event': 'other_community'});" data-cf-modified-="">medium</a>
                            <a href="https://bitcointalk.org/index.php?topic=362513.0" rel="nofollow" target="_blank" class="social bitcointalk" onclick="if (!window.__cfRLUnblockHandlers) return false; dataLayer.push({'event': 'other_community'});" data-cf-modified-="">bitcointalk</a>
                            <a href="https://www.reddit.com/r/EmerCoin/" rel="nofollow" target="_blank" class="social reddit" onclick="if (!window.__cfRLUnblockHandlers) return false; dataLayer.push({'event': 'other_community'});" data-cf-modified-="">reddit</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-light">
            <div class="wrapper">
                <div class="footer-bottom">

                    <div class="footer-bottom-right">
                        © 2021 Emercoin
                    </div>
                </div>
            </div>
        </div>
        <div class="join-telegram">
            <a href="https://t.me/emernews?utm_source=EMERCOIN&amp;utm_medium=STICKYBUTTON&amp;utm_campaign=SITE_TG_STICKYBUTTON" rel="nofollow" target="_blank" class="join-telegram__link" onclick="if (!window.__cfRLUnblockHandlers) return false; dataLayer.push({'event': 'telegram_community'});"
                data-cf-modified-="">Наш чат в Телеграм</a>
            <button type="button" class="join-telegram__close"></button>
        </div>

    </footer>