{% load static %}
<footer class="footer">
    <div class="up" style="display: block;"></div>
        <div class="wrapper">
            <div class="footer-top">
                <div class="footer-top-right">
                    <ul class="footer-top-right-menu">
                        <li>
                            <div class="title">Технологии</div>
                            <div class="footerLink ">
                                <a href="{% url 'blockchain' %}">Блокчейн Emercoin</a>
                            </div>
                            <div class="footerLink ">
                                <a href="{% url 'tech-solutions' %}">Технологии</a>
                            </div>
                            <div class="footerLink ">
                                <a href="{%  url 'specifications' %}">Спецификации</a>
                            </div>
                            <div class="footerLink ">
                                <a href="{% url 'emercoin-api' %}">Справочник API</a>
                            </div>
                            <div class="footerLink ">
                                <a href="{% url 'about-emercoin' %}">Общая документация</a>
                            </div>
                            <div class="footerLink github">
                                <a href="https://github.com/emercoin" target="_blank" rel="nofollow">Наш GitHub</a>
                            </div>
                        </li>
                        <li>
                            <div class="title">Экономика</div>
                            <div class="footerLink ">
                                <a href="{% url 'for-coinholders' %}">Почему Emercoin?</a>
                            </div>
                            <div class="footerLink ">
                                <a href="{% url 'for-coinholders' %}#download">Купить Emercoin</a>
                            </div>
                            <div class="footerLink ">
                                <a href="{% url 'for-coinholders' %}#download">Скачайте кошелёк</a>
                            </div>
                        </li>
                        <li>
                            <div class="title">Обозреватели блокчейна</div>
                            <div class="footerLink ">
                                <a href="https://explorer.emercoin.com/" target="_blank" rel="nofollow">Первый</a>
                            </div>
                            <div class="footerLink ">
                                <a href="https://explorer1.emercoin.com" target="_blank" rel="nofollow">Второй</a>
                            </div>
                            <div class="footerLink ">
                                <a href="https://www.coinexplorer.net/EMC" target="_blank" rel="nofollow">Coinexplorer.net</a>
                            </div>
                            <div class="footerLink ">
                                <a href="https://emc.tokenview.com" target="_blank" rel="nofollow">tokenview.com</a>
                            </div>
                        </li>
                        <li>
                            <div class="title">Новости</div>
                            <div class="footerLink ">
                                <a href="{% url 'news' %}">Последние новости</a>
                            </div>
                            <div class="footerLink ">
                                <a href="{% url 'road-map' %}">Road Map</a>
                            </div>
                        </li>
                        <li>
                            <div class="title">О нас</div>
                            <div class="footerLink ">
                                <a href="{% url 'contacts' %}">Контакты</a>
                            </div>
                            <div class="footerLink ">
                                <a href="{% url 'partners' %}">Наши партнеры</a>
                            </div>
                            <div class="footerLink ">
                                <a href="{% url 'team' %}">Наша команда</a>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="footer-top-left">
                    <ul class="footer-top-left-terms">
                        <li>
                            <a href="{% url 'terms' %}" target="_blank">Условия использования</a>
                        </li>
                        <li>
                            <a href="{% url 'privacy' %}" target="_blank">Политика конфиденциальности</a>
                        </li>
                        <li>
                            <a href="{% static 'files/pdf/whitepaper.pdf' %}" target="_blank">Whitepaper</a>
                        </li>
                        <li>
                            <a href="{% static 'files/pdf/one-page.pdf' %}" target="_blank">One Pager</a>
                        </li>

                    </ul>
                    <div class="footer-top-left-socset">
                        <div class="title">Мы в социальных сетях:</div>
                        <div class="socialBox">
                            <a href="https://twitter.com/emercoin_press" rel="nofollow" target="_blank" class="social twitter"  data-cf-modified-="">twitter</a>
                            <a href="https://t.me/emercoin_official" rel="nofollow" target="_blank" class="social telegram"  data-cf-modified-="">telegram</a>
                            <a href="https://www.facebook.com/EmerOfficialRUS/" rel="nofollow" target="_blank" class="social facebook"  data-cf-modified-="">facebook</a>
                            <a href="https://www.youtube.com/channel/UCeHlonUkITqe4PtpW8p4wmg" rel="nofollow" target="_blank" class="social youtube"  data-cf-modified-="">youtube</a>
{#                            <a href="https://medium.com/@emer.tech" rel="nofollow" target="_blank" class="social medium" data-cf-modified-="">medium</a>#}
                            <a href="https://bitcointalk.org/index.php?topic=362513.0" rel="nofollow" target="_blank" class="social bitcointalk"  data-cf-modified-="">bitcointalk</a>
                            <a href="https://www.reddit.com/r/EmerCoin/" rel="nofollow" target="_blank" class="social reddit"  data-cf-modified-="">reddit</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-light">
            <div class="wrapper">
                <div class="footer-bottom">

                    <div class="footer-bottom-right">
                        © {% now "Y" %} Emercoin
                    </div>
                </div>
            </div>
        </div>
        <div class="join-telegram">
            <a href="https://t.me/emernews?utm_source=EMERCOIN&amp;utm_medium=STICKYBUTTON&amp;utm_campaign=SITE_TG_STICKYBUTTON" rel="nofollow" target="_blank" class="join-telegram__link" onclick="if (!window.__cfRLUnblockHandlers) return false; dataLayer.push({'event': 'telegram_community'});"
                data-cf-modified-="">Наш чат в Телеграм</a>
            <button type="button" class="join-telegram__close"></button>
        </div>

    </footer>