/*Блок с переменными которые мы будем использовать*/
$menu-bacg: #7b6696;
$menu-link-hover-color: #d2c1ff;
$menu-border-color: #9e7bad;
$menu-drop-bacg: #6c5589;
$pull-bacg: #af9bc9;
$green: #55c900;
$green-light: #43C607;
$green-light-two: #48c400;
$purple: #e6ddf2;
$border-get: #c1a7cf;
$body-color: #404750;
$body-color-light: #8b9096;
$color-dark: #464b55;
$drop-hover: #f6f2fb;
$drop-border: #ead6f3;
$owl-dot: #c2a7d0;
$owl-dot-active: #8e74b0;
$footer-link: #baa9d0;
$footer-link-two: #b9a8ce;
$footer-menu-border: #917dab;
$border-services: #f0ebff;
$green-light-tree: #63f600;
$green-light-fore: #43c200;
$roadmap: #291f40;
$bacg-border-circle: #1f284d;
$bacg-tags: #f5f1ff;
$red: #ff6565;
$border-input: #d5c2ed;
$button-sub: #b09cc9;
$gray-date: #6a7783;
$tweet-blue: #2B7FC4;
$gray-team: #6e6e6e;
$border-header: #e4d6f5;
$green-rise: #44c709;
$date-roadmap: #c6b1e3;
$li-active: #e9def7;

$h-color: #4a4a4a;
$link-color: #009de2;
$link-color-hover: #72c3ff;
$link-color-active: #006c9a;
$link-gray: #5b5a5a;
$dark-gray: #575656;
$gray: #999999;
$gray-button-bcg: #e7e7e7;
$extra-light-blue: #e2eef5;
$extra-light-blue-plus: #f2f7fa;
$blue-dark: #4f7296;
$blue-dark-extra: #065577;
$bright-blue: #3045c8;
$blue-dark-footer: #2c3e50;
$blue-light-footer: #5a728a;
$white-light: #feffff;
$input-footer-color: #64798d;
$black-border: #000100;
$border-notes: #c7d3da;
$border-fon: #CEE6E8;
$form-fon: #ecf5fa;
$bold-bkack: #1b1b1b;
$border-gray: #a4a4a4;
$input-color: #a3a3a3;
$menu-gray: #e1eef6;
$border-name-product: #d3dddf;
$value: #35a8e0;
$red-percent: #ce171c;
$filter-color: #dbe3e5;
$lilac: #945da3;
$border-top-color: #d7e7ec;
$bacc-subscription-main: #d0e5f1;
$color-subscription-main: #abbfca;
$color-border-cocset: #94aebe;
$li-menuContent: #9b9b9b;
$bacc-asideDownload: #ebf7fd;
$gray-select-light: #e2e2e2;
$quote-title: #4f7296;