@font-face {
  font-family: 'Helvetica';
  src: url('../fonts/HelveticaRegular.eot?#iefix');
  src: url('../fonts/HelveticaRegular.eot?#iefix') format('majallab-opentype'),
  url('../fonts/HelveticaRegular.woff#iefix') format('woff'),
  url('../fonts/HelveticaRegular.ttf') format('truetype'),
  url('../fonts/HelveticaRegular.svg#font') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'NotoSansArabic-Regular';
  src: url('../fonts/NotoSansArabic-Regular.eot?#iefix');
  src: url('../fonts/NotoSansArabic-Regular.eot?#iefix') format('majallab-opentype'),
  url('../fonts/NotoSansArabic-Regular.woff#iefix') format('woff'),
  url('../fonts/NotoSansArabic-Regular.ttf') format('truetype'),
  url('../fonts/NotoSansArabic-Regular.svg#font') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'NotoSansArabic-Bold';
  src: url('../fonts/NotoSansArabic-Bold.eot?#iefix');
  src: url('../fonts/NotoSansArabic-Bold.eot?#iefix') format('majallab-opentype'),
  url('../fonts/NotoSansArabic-Bold.woff#iefix') format('woff'),
  url('../fonts/NotoSansArabic-Bold.ttf') format('truetype'),
  url('../fonts/NotoSansArabic-Bold.svg#font') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'RobotoRegular';
  src: url('../fonts/RobotoRegular.eot?#iefix');
  src: url('../fonts/RobotoRegular.eot?#iefix') format('majallab-opentype'),
  url('../fonts/RobotoRegular.woff#iefix') format('woff'),
  url('../fonts/RobotoRegular.ttf') format('truetype'),
  url('../fonts/RobotoRegular.svg#font') format('svg');
  font-weight: normal;
  font-style: normal;
}
