{% load static %}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html" dir="ltr" lang="ru">

<head>
    <title>Официальный сайт блокчейн-платформы Emercoin. Децентрализованные решения для бизнеса</title>
    {% csrf_token %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="alternate" href="https://emercoin.com/en" hreflang="x-default" />
    <link rel="apple-touch-icon" sizes="180x180" href="{% static  'assets/images/favicon/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static  'assets/images/favicon/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static  'assets/images/favicon/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static  'assets/images/favicon/site.webmanifest' %}">
    <link rel="mask-icon" href="{% static  'assets/images/favicon/safari-pinned-tab.svg' %}" color="#5bbad5">
    <link rel="shortcut icon" href="{% static  'assets/images/favicon/favicon.ico' %}">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta property="og:title" content="Официальный сайт блокчейн-платформы Emercoin. Децентрализованные решения для бизнеса" />
{#    <meta property="og:url" content="{% static  'ru' %}" />#}
    <meta property="og:image" content="{% static  'assets/img/share_image.png' %}" />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="630" />

    {% block css %}
    {% endblock css %}
    {% block open_scrypt %}
    {% endblock open_scrypt %}

</head>
<body>
        {% include 'nav.html' %}



                {% block content %}
                <!-- Содержимое страницы -->
                {% endblock content %}


        {% include 'footer.html' %}
</body>

{% block scrypt %}
{% endblock scrypt %}
</html>