{% extends "blocks_en/base.html" %}
{% load static %}

{% block title %}
    Page title
{% endblock title %}

    {% block content %}
    {% endblock content %}

    {% include 'blocks_en/footer.html' %}

    {% block css %}
    <link href="{% static 'assets/css/style.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'assets/css/new.css' %}" rel="stylesheet" type="text/css">
    {% endblock css %}
    {% block open_scrypt %}
    {% endblock open_scrypt %}
    {% block scrypt %}
    <script src="{% static  'assets/js/jquery.js' %}" type="text/javascript"></script>
    <script src="{% static  'assets/js/script.js' %}" type="text/javascript"></script>
    <script src="{% static  'assets/js/js.js' %}" type="text/javascript"></script>

    <script src="{% static  'assets/js/owl.carousel.min.js' %}" type="text/javascript"></script>
    <script src="{% static  'assets/js/swiper.min.js' %}" type="text/javascript"></script>
    <script src="{% static  'assets/js/fancybox-3.min.js' %}" type="text/javascript"></script>
    <script src="{% static  'assets/js/in-viewport.min.js' %}" type="text/javascript"></script>
    <script src="{% static  'assets/js/plugins.js' %}" type="text/javascript"></script>
    <script src="{% static  'assets/js/autosize.min.js' %}" type="text/javascript"></script>
    <script src="{% static  'assets/js/common.js' %}" type="text/javascript"></script>
    <script src="{% static  'assets/js/new.js' %}" type="text/javascript"></script>
    <script src="{% static  'assets/js/jquery.nicescroll.min.js' %}" type="text/javascript"></script>
    {% endblock scrypt %}
