{% extends 'blankpage_en.html' %}
{% load static %}
{% block title %}
     Emercoin + {{ company.title }}
{% endblock title %}

{% block meta %}
<meta name="keywords" content="Blockchain" />
    <meta name="description" content="Emercoin`s Decentralized solutions for business and personal use" />
    <meta property="og:title" content="Official website of Emercoin blockchain platform" />
{% endblock %}

 <Description>Emercoin partner: {{ company.title }} </Description>
{% block content %}

<main>
   <div class="privacyPage-top">
      <h1>{{ company.title }}</h1>
      <div class="projects-back">
         <a href="{% url 'partners' %}" class="projects-back__link">All partners</a>
      </div>
   </div>
   <div class="project animate-it _animated">
      <div class="project__logo">
         <div class="project__logo-inner">
            <img src="{{ company.logo.url }}" srcset="{{ company.logo_big.url }} 2x" alt="{{ company.title }}" class="clients__image">
         </div>
      </div>
      <div class="project__body">
         <div class="project__text">
             {{ company.text_more_en|safe }}
         </div>
      </div>
   </div>

{#   <div class="feedback _open animate-it    _bordered  ">#}
{#      <div class="feedback__body">#}
{#         <form data-action="https://emercoin.com/ru/json/feedback" class="feedback__form form feedback_modern">#}
{#            <input type="hidden" name="page_uri" value="/ru/partners-and-projects/deloitte">#}
{#            <div class="feedback__form-inner">#}
{#               <div class="feedback__title">#}
{#                  Напишите нам#}
{#               </div>#}
{#               <div class="feedback__columns">#}
{#                  <div class="feedback__leftside">#}
{#                     <div class="form__group">#}
{#                        <div class="form__label _required">E-mail</div>#}
{#                        <input type="text" name="email" class="form__entry entry">#}
{#                     </div>#}
{#                     <div class="form__group">#}
{#                        <div class="form__label _required">Полное имя</div>#}
{#                        <input type="text" name="name" class="form__entry entry">#}
{#                     </div>#}
{#                  </div>#}
{#                  <div class="feedback__rightside">#}
{#                     <div class="form__group">#}
{#                        <div class="form__label _required">Сообщение</div>#}
{#                        <textarea class="form__entry entry _textarea" name="message" style="overflow: hidden; overflow-wrap: break-word; height: 123.995px;"></textarea>#}
{#                     </div>#}
{#                  </div>#}
{#               </div>#}
{#               <div class="feedback__footer">#}
{#                  <div class="feedback__btn-holder">#}
{#                     <button type="submit" class="btn _type_default _size_lg _wide">Отправить</button>#}
{#                  </div>#}
{#               </div>#}
{#            </div>#}
{#         </form>#}
{#         <div class="feedback__success">#}
{#            <div class="feedback__success-caption">Спасибо!</div>#}
{#            <div class="feedback__success-text">Ваша заявка успешно отправлена. Мы сообщим о своем решении в течение 7 дней.</div>#}
{#         </div>#}
{#      </div>#}
{#   </div>#}

</main>
{% endblock content %}