{% extends blank %}
{% load static %}
{% block title %}
     {% if is_ru %}Контакты{% else %}Contacts{% endif %}
{% endblock title %}
{% block meta %}
    {% include "misc/link-rels.html" %}
    <meta name="keywords" content="email, контакт, Эмеркоин" />
     <meta name="description" content="{% if is_ru %}Emercoin Контакты, связаться с авторами{% else %}Emercoin Contacts, send message to authors{% endif %}" />
        <meta property="og:title" content="{% if is_ru %}Контакты{% else %}Contacts{% endif %}" />
{% endblock meta %}

{% block content %}

<main>
   <div class="privacyPage-top privacyPage-top-marginNo">
            <h1>Emercoin contact information</h1>
   </div>
   <div class="contactPage">
      <div class="contactPage-box">
         <div class="wrapper">
            <div class="contactFlex">
               <div class="fix_ok">
                  <div class="fix_ok-text"></div>
               </div>
               <div class="contactFlex-left">
                  <div class="contactPage-info">
                     <img src="{% static 'assets/images/contact.png' %}" srcset="{% static 'assets/images/contact@2x.png' %} 2x" alt="">
                     {% if is_ru %}
                         <p> Свяжитесь с нами по любым вопросам, связанным с проектом или услугами. </p>
                       <p> Мы постараемся связаться с вами как можно скорее </p>
                      {% else %}
                      <p>Contact us about anything related to our project or services.</p>
                     <p>We’ll do our best to get back to you as soon as possible</p>
                      {% endif %}
                  </div>
               </div>

               <div class="contactFlex-right">
                     <div class="box_input box_input-form two">
                        <div class="emailForm-box">
                           <a href="mailto:support@emercoin.com" class="emailForm">e-mail us on <span>support@emercoin.com</span></a>
                        </div>
                     </div>
               </div>

            </div>
         </div>
      </div>
   </div>
</main>
{% endblock content %}