{% extends "blankpage.html" %}
{% load static %}

{% block title %}
    Блокчейн Эмеркоин
{% endblock title %}
 <Description> О блокчейне Emercoin </Description>
{% block content %}

<main>
    {% include 'blocks_ru/block_about_blockchain.html' with emer_blocks=emer_blocks %}
    {% include 'blocks_ru/block_services.html' with servises=services %}
    <div class="infobox _bg_filled">
        <div class="infobox__inner">
            <div class="infobox__header">
                <div class="h3">Как я могу использовать блокчейн Emercoin?</div>
            </div>
            <div class="infobox__body">
                <p>У блокчейна Emercoin своя, одноимённая валюта (EMC). Для использования указанных выше сервисов понадобятся дробные части EMC.</p>
                <p>От других сервис-ориентированных блокчейнов Emercoin отличается тем, что в нём используется инновационная система организации данных. Она позволяет сервисам использовать данные без необходимости приобретения дорогостоящего дискового пространства или использования сложных языков программирования. Чтобы купить Emercoin, вам понадобится соответствующий кошелёк. Ссылки на кошельки, а также криптобиржи, где можно купить Emercoin, вы можете найти на нашем сайте.</p>
            </div>
        </div>
    </div>
    <div class="tech-tree">
        <div class="h2">Древо технологий</div>
        <a href="{% static 'assets/images/tech-tree.png' %}" target="_blank" class="tech-tree__hero">
            <img src="{% static 'assets/images/tech-tree.png' %}" alt="" class="tech-tree__image"></a>
        </div>
{#        <div class="companies">#}
{#            <div class="h2 _center">Компании, сотрудничающие с Emercoin</div>#}
{#            <div class="partners">#}
{#                <div class="partners__container">#}
{#                    <div class="partners__wrapper">#}
{#                        <div class="partners__item">#}
{#                            <a href="https://www2.deloitte.com/" rel="nofollow" target="_blank" class="partners__link">#}
{#                                <img src="https://emercoin.com/assets/images/cuet/deloitte.png" srcset="https://emercoin.com/assets/images/cuet/deloitte2x.png" alt="Deloitte" class="partners__image">#}
{#                                    <img src="https://emercoin.com/assets/images/cuet/deloitte_color.png" srcset="https://emercoin.com/assets/images/cuet/deloitte_color2x.png" alt="Deloitte" class="partners__image _color"></a>#}
{#                                </div>#}
{#                                <div class="partners__item">#}
{#                                    <a href="https://unadesk.com/" rel="nofollow" target="_blank" class="partners__link">#}
{#                                        <img src="https://emercoin.com/assets/images/cuet/unadesk.png" srcset="https://emercoin.com/assets/images/cuet/unadesk2x.png" alt="UnaDesk" class="partners__image">#}
{#                                            <img src="https://emercoin.com/assets/images/cuet/unadesk_color.png" srcset="https://emercoin.com/assets/images/cuet/unadesk_color2x.png" alt="UnaDesk" class="partners__image _color"></a>#}
{#                                        </div>#}
{#                                        <div class="partners__item">#}
{#                                            <a href="https://authorizer.io/" rel="nofollow" target="_blank" class="partners__link">#}
{#                                                <img src="https://emercoin.com/assets/images/cuet/authorizer.png" srcset="https://emercoin.com/assets/images/cuet/authorizer2x.png" alt="Authorizer" class="partners__image">#}
{#                                                    <img src="https://emercoin.com/assets/images/cuet/authorizer_color.png" srcset="https://emercoin.com/assets/images/cuet/authorizer_color2x.png" alt="Authorizer" class="partners__image _color"></a>#}
{#                                                </div>#}
{#                                                <div class="partners__item">#}
{#                                                    <a href="https://foundico.com/" rel="nofollow" target="_blank" class="partners__link">#}
{#                                                        <img src="https://emercoin.com/assets/images/cuet/foundico.png" srcset="https://emercoin.com/assets/images/cuet/foundico2x.png" alt="Foundico" class="partners__image">#}
{#                                                            <img src="https://emercoin.com/assets/images/cuet/foundico_color.png" srcset="https://emercoin.com/assets/images/cuet/foundico_color2x.png" alt="Foundico" class="partners__image _color"></a>#}
{#                                                        </div>#}
{#                                                        <div class="partners__item">#}
{#                                                            <a href="http://kolionovo.com/" rel="nofollow" target="_blank" class="partners__link">#}
{#                                                                <img src="https://emercoin.com/assets/images/cuet/kolionovo.png" srcset="https://emercoin.com/assets/images/cuet/kolionovo2x.png" alt="Kolionovo" class="partners__image">#}
{#                                                                    <img src="https://emercoin.com/assets/images/cuet/kolionovo_color.png" srcset="https://emercoin.com/assets/images/cuet/kolionovo_color2x.png" alt="Kolionovo" class="partners__image _color"></a>#}
{#                                                                </div>#}
{#                                                                <div class="partners__item">#}
{#                                                                    <a href="https://vinchain.io/" rel="nofollow" target="_blank" class="partners__link">#}
{#                                                                        <img src="https://emercoin.com/assets/images/cuet/vinchain.png" srcset="https://emercoin.com/assets/images/cuet/vinchain2x.png" alt="Vinchain" class="partners__image">#}
{#                                                                            <img src="https://emercoin.com/assets/images/cuet/vinchain_color.png" srcset="https://emercoin.com/assets/images/cuet/vinchain_color2x.png" alt="Vinchain" class="partners__image _color"></a>#}
{#                                                                        </div>#}
{#                                                                    </div>#}
{#                                                                </div>#}
{#                                                                <div class="partners__pagination"></div>#}
{#                                                            </div>#}
{#                                                            <div class="companies__text">ПО Emercoin также доступно в каталогах Microsoft Azure и RedHat.</div>#}
{#                                                        </div>#}


{#    <div class="links">#}
{#                                                            <div class="links__list">#}
{#                                                                <div class="links__item">#}
{#                                                                    <a href="https://emercoin.com/ru/emercoin-blockchain" rel="nofollow" class="links__link _type_service">#}
{#                                                                        <span class="links__text">Технологические сервисы и решения</span>#}
{#                                                                    </a>#}
{#                                                                </div>#}
{#                                                                <div class="links__item">#}
{#                                                                    <a href="https://docs.emercoin.com/en/Introduction/Specifications.html" rel="nofollow" class="links__link _type_spec">#}
{#                                                                        <span class="links__text">Спецификации</span>#}
{#                                                                    </a>#}
{#                                                                </div>#}
{#                                                                <div class="links__item">#}
{#                                                                    <a href="https://docs.emercoin.com/en/Emercoin_API.html" rel="nofollow" class="links__link _type_api">#}
{#                                                                        <span class="links__text">Справочник API</span>#}
{#                                                                    </a>#}
{#                                                                </div>#}
{#                                                                <div class="links__item">#}
{#                                                                    <a href="https://docs.emercoin.com/en/About_Emercoin.html" rel="nofollow" class="links__link _type_doc">#}
{#                                                                        <span class="links__text">Общая документация</span>#}
{#                                                                    </a>#}
{#                                                                </div>#}
{#                                                            </div>#}
{#                                                        </div>#}
     <div class="up"></div>
    </main>

    {% endblock content %}
