{% extends 'blankpage_en.html' %}
{% load static %}
{% block content %}
<main style="min-height: 77.1994px;">
   <div class="intro _short">
      <div class="intro__inner animate-it _animated">
         <h1 class="intro__title">For Developers</h1>
         <div class="intro__hero">
            <img src="{% static 'assets/images/developers.png' %}" srcset="{% static 'assets/images/developers@2x.png' %} 2x" alt="" class="intro__image">
         </div>
         <div class="intro__body">
            <div class="intro__text">
               <div class="intro__visible-2">
                  <p>The blockchain is the next step in the development of innovative tools and applications. And Emercoin offers a wide range of dSDK for tech solutions on blockchain that can bring more intelligence and security to your projects, making them decentralized.</p>
               </div>
               <div class="intro__hidden-2" style="display: none;">
                  <p>
                     <b>dSDKs</b> – specifically for developers, Emercoin created decentralized software development kits. They are so easy to use that even non-developers can integrate them into their projects and build technology on Emercoin Blockchain. You don’t need to have immense amounts of storage space or to know complicated coding languages.
                  </p>
                  <p>
                     <b>Three-in-one hybrid mining</b> – Combining PoW, Merged Mining, and PoS technologies, Emercoin blockchain is protected from any form of malicious attacks, even from 51% vulnerability that poses a high risk for other coins.
                  </p>
               </div>
               <div class="intro__more-2">
                  <div class="intro__more-2-item">
                     <a href="#" class="intro__more-link"><span class="intro__more-text">See General</span></a>
                  </div>
{#                  <div class="intro__more-2-item">#}
{#                     <a href="#" class="intro__coins-link"><span class="intro__coins-text">Get 10 free testnet coins</span></a>#}
{#                  </div>#}
               </div>
            </div>
         </div>
      </div>
   </div>

   <div class="services-list js-services-filter">
      <div class="services-list__header animate-it _animated">
         <div class="services-list__btn-holder">
            <div class="services-dd">
               <button type="button" class="services-dd__btn btn _type_default _size_lg _wide"><span class="services-dd__btn-text">All dSDKs</span><span class="services-dd__btn-icon"></span></button>
               <div class="services-dd__popup">
                  <button type="button" class="services-dd__close"></button>
                  <div class="shortcuts">
                     <a href="#all" class="shortcuts__item js-services-filter-link">
                        <div class="shortcuts__hero">
                           <img src="/assets/images/all.svg" alt="" class="shortcuts__image">
                        </div>
                        <div class="shortcuts__text js-services-filter-text">All dSDKs</div>
                     </a>
                     <a href="#solution-40" class="shortcuts__item js-services-filter-link">
                        <div class="shortcuts__hero">
                           <img src="https://emercoin.com/files/uploads/41419873e324edddac3d0fe5b249485a.svg" alt="" class="shortcuts__image">
                        </div>
                        <div class="shortcuts__text js-services-filter-text">EmerDNS</div>
                     </a>
                     <a href="#solution-41" class="shortcuts__item js-services-filter-link">
                        <div class="shortcuts__hero">
                           <img src="https://emercoin.com/files/uploads/0aacbbb6f0b448cfebcb2e9058a3e3ee.svg" alt="" class="shortcuts__image">
                        </div>
                        <div class="shortcuts__text js-services-filter-text">EmerSSH</div>
                     </a>
                     <a href="#solution-42" class="shortcuts__item js-services-filter-link">
                        <div class="shortcuts__hero">
                           <img src="https://emercoin.com/files/uploads/3e473f5bd63374a6cca5c2a126fd9fe6.svg" alt="" class="shortcuts__image">
                        </div>
                        <div class="shortcuts__text js-services-filter-text">EmerSSL</div>
                     </a>
                     <a href="#solution-43" class="shortcuts__item js-services-filter-link">
                        <div class="shortcuts__hero">
                           <img src="https://emercoin.com/files/uploads/7b3f584e69f09af91ce307bdab7c2b46.svg" alt="" class="shortcuts__image">
                        </div>
                        <div class="shortcuts__text js-services-filter-text">EmerDPO</div>
                     </a>
                     <a href="#solution-44" class="shortcuts__item js-services-filter-link">
                        <div class="shortcuts__hero">
                           <img src="https://emercoin.com/files/uploads/804a44e129dfed0bd5e0af1a1c8bfdaf.svg" alt="" class="shortcuts__image">
                        </div>
                        <div class="shortcuts__text js-services-filter-text">ENUMER</div>
                     </a>
                     <a href="#solution-45" class="shortcuts__item js-services-filter-link">
                        <div class="shortcuts__hero">
                           <img src="https://emercoin.com/files/uploads/90d4ca27e34e3d7b41aaf9cf9be1762b.svg" alt="" class="shortcuts__image">
                        </div>
                        <div class="shortcuts__text js-services-filter-text">EmerLNX</div>
                     </a>
                     <a href="#solution-46" class="shortcuts__item js-services-filter-link">
                        <div class="shortcuts__hero">
                           <img src="https://emercoin.com/files/uploads/5aff8ca49f1e816c5867b43d6223a80e.svg" alt="" class="shortcuts__image">
                        </div>
                        <div class="shortcuts__text js-services-filter-text">EmerMAGNET</div>
                     </a>
                     <a href="#solution-47" class="shortcuts__item js-services-filter-link">
                        <div class="shortcuts__hero">
                           <img src="https://emercoin.com/files/uploads/4551e8d94d487d1d38f738d5be6d96c1.svg" alt="" class="shortcuts__image">
                        </div>
                        <div class="shortcuts__text js-services-filter-text">EmerNVS</div>
                     </a>
                     <a href="#solution-48" class="shortcuts__item js-services-filter-link">
                        <div class="shortcuts__hero">
                           <img src="https://emercoin.com/files/uploads/24c353b760f568f8f186c65e62e6356c.svg" alt="" class="shortcuts__image">
                        </div>
                        <div class="shortcuts__text js-services-filter-text">EmerTTS</div>
                     </a>
                  </div>
               </div>
            </div>
         </div>
         <h2 class="services-list__title">dSDKs by Emercoin</h2>
      </div>
      <div class="services-list__body _grid">
         <div class="solution animate-it js-services-filter-item _animated" id="solution-40">
            <div class="solution__body">
               <div class="solution__hero">
                  <img src="https://emercoin.com/files/uploads/41419873e324edddac3d0fe5b249485a.svg" alt="" class="solution__image">
               </div>
               <div class="solution__content">
                  <div class="solution__title">EmerDNS</div>
                  <div class="solution__text">
                     <p>Боитесь, что ваш сайт могут заблокировать власти? Возможно, не зря, учитывая «закручивание гаек» по всему миру.&nbsp;Вам поможет EmerDNS.</p>
                     <p>EmerDNS не грозит цензура, ведь это полностью децентрализованная система. Никто, кроме вас, не сможет изменить созданную вами DNS-запись.</p>
                     <p>Сайты на EmerDNS легко резолвятся — через браузерные расширения, серверы OpenNIC или прокси-серверы.</p>
                  </div>
                  <div class="solution__more">
                     <div class="solution__more-item">
                        <a href="https://emercoin.com/ru/emerdns" class="more-link">More about EmerDNS</a>
                     </div>
                  </div>
               </div>
            </div>
            <div class="solution__details">
               <span class="solution__details-text">show the best solution</span>
            </div>
            <div class="solution__info">
               <div class="solution__info-title">EmerDNS is the best solution:</div>
               <div class="solution__list">
                  <div class="solution__list-item">to protect websites from being blocked by any authorities</div>
                  <div class="solution__list-item">to prevent domain names from being altered, revoked, or suspended</div>
                  <div class="solution__list-item">to have access to multiple domain zones instead of one</div>
                  <div class="solution__list-item">to rent a DNS record with a customizable rental period</div>
                  <div class="solution__list-item">to easily delete any records</div>
                  <div class="solution__list-item">to use the built-in DNS-server rfc1035</div>
                  <div class="solution__list-item">to manage a few subdomains</div>
               </div>
            </div>
         </div>
         <div class="solution animate-it js-services-filter-item _animated" id="solution-41">
            <div class="solution__body">
               <div class="solution__hero">
                  <img src="https://emercoin.com/files/uploads/0aacbbb6f0b448cfebcb2e9058a3e3ee.svg" alt="" class="solution__image">
               </div>
               <div class="solution__content">
                  <div class="solution__title">EmerSSH</div>
                  <div class="solution__text">
                     <p>Используете серверную PKI? Представьте, что случится, если вашему администратору захочется пошалить. С EmerSSH вы в безопасности.</p>
                     <p>Благодаря децентрализации, никто не сможет получить ключ к вашему корневому сертификату и таким образом расшировать передаваемые данные.</p>
                     <p>EmerSSH можно бесшовно связать с OpenSSH, получив гибкость в дополнение к безопасности.</p>
                  </div>
                  <div class="solution__more">
                     <div class="solution__more-item">
                        <a href="https://emercoin.com/ru/emerssh" class="more-link">More about EmerSSH</a>
                     </div>
                  </div>
               </div>
            </div>
            <div class="solution__details">
               <span class="solution__details-text">show the best solution</span>
            </div>
            <div class="solution__info">
               <div class="solution__info-title">EmerSSH is the best solution:</div>
               <div class="solution__list">
                  <div class="solution__list-item">for decentralization of authority and as a result increased security</div>
                  <div class="solution__list-item">for easy administration and use</div>
                  <div class="solution__list-item">for automatic updating of keys and groups without the help of the administrator</div>
                  <div class="solution__list-item">for reduction in price for infrastructure support and its administration</div>
                  <div class="solution__list-item">to create absolute trust between distributed participants of infrastructure</div>
               </div>
            </div>
         </div>
         <div class="solution animate-it js-services-filter-item _animated" id="solution-42">
            <div class="solution__body">
               <div class="solution__hero">
                  <img src="https://emercoin.com/files/uploads/3e473f5bd63374a6cca5c2a126fd9fe6.svg" alt="" class="solution__image">
               </div>
               <div class="solution__content">
                  <div class="solution__title">EmerSSL</div>
                  <div class="solution__text">
                     <p>Если вы используете беспарольную аутентификацию на базе SSL-сертификатов, вы знаете, что это может обойтись в копеечку. Хуже того, если ваш сертификационный центр будет скомпрометирован, вам крышка.&nbsp;Но не с EmerSSL.</p>
                     <p>Эта полностью децентрализованная инфраструктура SSL-сертификатов исключает возможность MITM-атаки. Стоить она будет НАМНОГО дешевле, чем использование централизованного ЦС.</p>
                     <p>А использовать её — проще простого: один раз сгенерировал закрытый сертификат — и можешь годами безопасно заходить без пароля на поддерживаемые сайты.</p>
                  </div>
                  <div class="solution__more">
                     <div class="solution__more-item">
                        <a href="https://emercoin.com/ru/emerssl" class="more-link">More about EmerSSL</a>
                     </div>
                  </div>
               </div>
            </div>
            <div class="solution__details">
               <span class="solution__details-text">show the best solution</span>
            </div>
            <div class="solution__info">
               <div class="solution__info-title">EmerSSL is the best solution:</div>
               <div class="solution__list">
                  <div class="solution__list-item">for repeated use of one client SSL certificate for authorization on any server in EmerSSL system without compromising security</div>
                  <div class="solution__list-item">for the start of secure SSL session only after successful certificate authentication process</div>
                  <div class="solution__list-item">to autofill a new account form with data recorded in the blockchain</div>
               </div>
            </div>
         </div>
         <div class="solution animate-it js-services-filter-item _animated" id="solution-43">
            <div class="solution__body">
               <div class="solution__hero">
                  <img src="https://emercoin.com/files/uploads/7b3f584e69f09af91ce307bdab7c2b46.svg" alt="" class="solution__image">
               </div>
               <div class="solution__content">
                  <div class="solution__title">EmerDPO</div>
                  <div class="solution__text">
                     <p>Чем бы вы ни владели, соответствующие данные обычно хранятся в централизованных базах данных — открытые для всевозможного «централизованного» манипулирования. EmerDPO устроен по-другому.</p>
                     <p>Он представляет собой децентрализованную «картотеку» сертификатов собственности, в которой нет единого центра управления.</p>
                     <p>Будь то права собственности на землю, автомобили или софт — с EmerDPO вы можете всегда быть уверенными, что всё, чем вы завладели, останется документированно вашим.</p>
                  </div>
                  <div class="solution__more">
                     <div class="solution__more-item">
                        <a href="https://emercoin.com/ru/emerdpo#cases" class="more-link">Show cases</a>
                     </div>
                     <div class="solution__more-item">
                        <a href="https://emercoin.com/ru/emerdpo" class="more-link">More about EmerDPO</a>
                     </div>
                  </div>
               </div>
            </div>
            <div class="solution__details">
               <span class="solution__details-text">show the best solution</span>
            </div>
            <div class="solution__info">
               <div class="solution__info-title">EmerDPO is the best solution:</div>
               <div class="solution__list">
                  <div class="solution__list-item">for companies whose goods and services are counterfeited</div>
                  <div class="solution__list-item">for organizations that want to receive information about their ultimate customers and to establish contact with them</div>
                  <div class="solution__list-item">for brands that want to be attentive to every customer</div>
                  <div class="solution__list-item">for manufacturers who want to create forgery-resistant digital passports (with records of sales and resale, maintenance, repairs)</div>
               </div>
            </div>
         </div>
         <div class="solution animate-it js-services-filter-item _animated" id="solution-44">
            <div class="solution__body">
               <div class="solution__hero">
                  <img src="https://emercoin.com/files/uploads/804a44e129dfed0bd5e0af1a1c8bfdaf.svg" alt="" class="solution__image">
               </div>
               <div class="solution__content">
                  <div class="solution__title">ENUMER</div>
                  <div class="solution__text">
                     <p>ENUM — отличный способ бесплатно пользоваться VoIP-услугами. Но из-за централизованной архитектуры эта система подвержена перегрузкам и, как следствие, отказам в обслуживании.&nbsp;Другое дело — ENUMER.</p>
                     <p>Разворачиваемый на инфраструктуре EmerDNS, ENUMER молниеносно резолвит запросы прямо на локальной машине и может масштабироваться бесконечно.</p>
                     <p>Ну и, в отличие от своего централизованного «брата», он не подведёт вас, если управляющий центр вдруг канет в небытие. Потому что такого центра здесь нет.</p>
                  </div>
                  <div class="solution__more">
                     <div class="solution__more-item">
                        <a href="https://emercoin.com/ru/enumer" class="more-link">More about ENUMER</a>
                     </div>
                  </div>
               </div>
            </div>
            <div class="solution__details">
               <span class="solution__details-text">show the best solution</span>
            </div>
            <div class="solution__info">
               <div class="solution__info-title">ENUMER is the best solution:</div>
               <div class="solution__list">
                  <div class="solution__list-item">to call and receive calls free of charge by publishing in ENUMER</div>
                  <div class="solution__list-item">to save costs on calls to toll-free numbers</div>
                  <div class="solution__list-item">to shorten the connection time from approximately 2 sec PSTN to 0.3s ENUMER</div>
                  <div class="solution__list-item">to improve digital quality and reduce delays due to the reduction of the transcoding chain</div>
                  <div class="solution__list-item">to improve signal quality due to the ability to use HD codec</div>
                  <div class="solution__list-item">to secure connection through SRTP/ZRTP</div>
                  <div class="solution__list-item">to bypass the limit on the number of lines E1/T1</div>
               </div>
            </div>
         </div>
         <div class="solution animate-it js-services-filter-item _animated" id="solution-45">
            <div class="solution__body">
               <div class="solution__hero">
                  <img src="https://emercoin.com/files/uploads/90d4ca27e34e3d7b41aaf9cf9be1762b.svg" alt="" class="solution__image">
               </div>
               <div class="solution__content">
                  <div class="solution__title">EmerLNX</div>
                  <div class="solution__text">
                     <p>EmerLNX is a peer-to-peer text-based advertisement link exchange network based on a per-click payment model. EmerLNX operates under the&nbsp;<strong>"lnx"</strong>&nbsp;service abbreviation in the EmerNVS.</p>
                  </div>
                  <div class="solution__more">
                     <div class="solution__more-item">
                        <a href="https://emercoin.com/ru/emerlnx" class="more-link">More about EmerLNX</a>
                     </div>
                  </div>
               </div>
            </div>
            <div class="solution__details">
               <span class="solution__details-text">show the best solution</span>
            </div>
            <div class="solution__info">
               <div class="solution__info-title">EmerLNX is the best solution:</div>
               <div class="solution__list">
                  <div class="solution__list-item">if you are looking for a scalable system without bottlenecks that can slow it down</div>
                  <div class="solution__list-item">if you don’t want to pay a middleman for advertisement placement and display</div>
                  <div class="solution__list-item">as an ads system without centralized censorship system</div>
                  <div class="solution__list-item">if you want to decide how much to pay or to charge for every ad</div>
                  <div class="solution__list-item">as a system with a mechanism of paid contextual links, in other words – “advertising without advertising”</div>
                  <div class="solution__list-item">if you want to install on your website an ads system that is easy to use and maintain</div>
               </div>
            </div>
         </div>
         <div class="solution animate-it js-services-filter-item _animated" id="solution-46">
            <div class="solution__body">
               <div class="solution__hero">
                  <img src="https://emercoin.com/files/uploads/5aff8ca49f1e816c5867b43d6223a80e.svg" alt="" class="solution__image">
               </div>
               <div class="solution__content">
                  <div class="solution__title">EmerMAGNET</div>
                  <div class="solution__text">
                     <p>EmerMAGNET is the storage of BitTorrent magnet links under the magnet &nbsp;service abbreviation in the EmerNVS.</p>
                  </div>
                  <div class="solution__more">
                     <div class="solution__more-item">
                        <a href="https://emercoin.com/ru/emermagnet" class="more-link">More about EmerMAGNET</a>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="solution animate-it js-services-filter-item _animated" id="solution-47">
            <div class="solution__body">
               <div class="solution__hero">
                  <img src="https://emercoin.com/files/uploads/4551e8d94d487d1d38f738d5be6d96c1.svg" alt="" class="solution__image">
               </div>
               <div class="solution__content">
                  <div class="solution__title">EmerNVS</div>
                  <div class="solution__text">
                     <p>Emercoin provides a service for storing&nbsp;<strong>name-&gt;value</strong>&nbsp;pairs in its blockchain (Name-Value Storage, or NVS).</p>
                  </div>
                  <div class="solution__more">
                     <div class="solution__more-item">
                        <a href="https://emercoin.com/ru/emernvs" class="more-link">More about EmerNVS</a>
                     </div>
                  </div>
               </div>
            </div>
            <div class="solution__details">
               <span class="solution__details-text">show the best solution</span>
            </div>
            <div class="solution__info">
               <div class="solution__info-title">EmerNVS is the best solution:</div>
               <div class="solution__list">
                  <div class="solution__list-item">to store SSH keys</div>
                  <div class="solution__list-item">to store SSL certificates</div>
                  <div class="solution__list-item">to store DNS records</div>
                  <div class="solution__list-item">to store any records that must be protected from unauthorized changes</div>
               </div>
            </div>
         </div>
         <div class="solution animate-it js-services-filter-item _animated" id="solution-48">
            <div class="solution__body">
               <div class="solution__hero">
                  <img src="https://emercoin.com/files/uploads/24c353b760f568f8f186c65e62e6356c.svg" alt="" class="solution__image">
               </div>
               <div class="solution__content">
                  <div class="solution__title">EmerTTS</div>
                  <div class="solution__text">
                     <p>Trusted Timestamp is an upcoming feature of EmerNVS. It automatically applies the current timestamp &nbsp;to any record added to the Emercoin blockchain. The blockchain network checks whether the timestamp is correct and rejects attempts to upload records with a timestamp differing from the current network time by more than ±2 hours. The timestamp trust, just like the transaction trust, is generated by aggregated efforts of Emercoin miners. To retrieve the timestamp, use the "name_show" command, which returns the record’s Unix time in the "time" field.</p>
                  </div>
                  <div class="solution__more">
                     <div class="solution__more-item">
                        <a href="https://emercoin.com/ru/emertts" class="more-link">More about EmerTTS</a>
                     </div>
                  </div>
               </div>
            </div>
            <div class="solution__details">
               <span class="solution__details-text">show the best solution</span>
            </div>
            <div class="solution__info">
               <div class="solution__info-title">EmerTTS is the best solution:</div>
               <div class="solution__list">
                  <div class="solution__list-item">if you need a system that can verify the authenticity of any issued documents</div>
                  <div class="solution__list-item">if you want to develop a solution for verification of diplomas, certificates, and other educational credentials</div>
                  <div class="solution__list-item">if you have to certify the online accuracy of any documents</div>
               </div>
            </div>
         </div>
      </div>
   </div>

   <div class="connect animate-it">
      <div class="connect__title">Connect with the Development Community</div>
      <div class="connect__list">
         <a href="/documentation/emercoin-api" class="connect__link _type_api">
            <div class="connect__link-inner">
               <img src="{% static 'assets/images/connect-emercoin.svg' %}" alt="" class="connect__image">
               <span class="connect__text">Emercoin Api</span>
            </div>
         </a>
         <a href="https://github.com/emercoin" target="_blank" rel="nofollow" class="connect__link _type_github">
            <div class="connect__link-inner">
               <img src="{% static 'assets/images/connect-github.svg' %}" alt="" class="connect__image">
               <span class="connect__text">View on Github</span>
            </div>
         </a>
         <a href="https://t.me/emercoin_official" target="_blank" rel="nofollow" class="connect__link _type_telegram" onclick="if (!window.__cfRLUnblockHandlers) return false; dataLayer.push({'event': 'telegram_community'});">
            <div class="connect__link-inner">
               <img src="{% static 'assets/images/connect-telegram.svg' %}" alt="" class="connect__image">
               <span class="connect__text">Telegram</span>
            </div>
         </a>
      </div>
   </div>
   {% include 'blocks_en/block_clients.html' with companies=companies %}
</main>
{% endblock content %}