{% extends 'blankpage.html' %}
{% load static %}
{% block title %}
    Примеры использования
{% endblock title %}
{% block meta %}
    {% include "misc/link-rels.html" %}
    <meta name="keywords" content="Технологии, Эмеркоин" />
     <meta name="description" content="Как использовать Emercoin? Страница для разработчиков и энтузиастов" />
        <meta property="og:title" content="Примеры использования" />
{% endblock %}

{% block content %}

<main>
   <div class="intro _short">
      <div class="intro__inner animate-it _animated">
         <h1 class="intro__title">Примеры использования</h1>
         <div class="intro__hero">
            <img src="{% static 'assets/images/developers.png' %}" srcset="{% static 'assets/images/developers@2x.png' %} 2x" alt="" class="intro__image">
         </div>
         <div class="intro__body">
            <div class="intro__text">
               <div class="intro__visible-2">
                <p> Блокчейн - это база данных, которую не нужно обслуживать. Emercoin предлагает много сценариев технических решений на блокчейне, которые могут повысить рентабельность и безопасность ваших проектов, сделав их децентрализованными. </p>
               </div>
               <div class="intro__hidden-2" style="display: none;">
                  <p>
                     Emercoin создал децентрализованные комплекты разработки программного обеспечения. Они настолько просты в использовании, что даже не разработчики могут интегрировать их в свои проекты и создавать технологии на блокчейне Emercoin. Вам не нужно иметь много места для хранения или знать сложные языки программирования.                   </p>
                  <p>
                    <b> Гибридный майнинг «три в одном» </b> - объединяя технологии PoW, Merged Mining и PoS, блокчейн Emercoin защищен от любых форм злонамеренных атак, даже от 51% уязвимости, которая представляет высокий риск для других монет.                   </p>
               </div>
               <div class="intro__more-2">
                  <div class="intro__more-2-item">
                     <a href="#" class="intro__more-link"><span class="intro__more-text">Общее</span></a>
                  </div>
{#                  <div class="intro__more-2-item">#}
{#                     <a href="#" class="intro__coins-link"><span class="intro__coins-text">Get 10 free testnet coins</span></a>#}
{#                  </div>#}
               </div>
            </div>
         </div>
      </div>
   </div>

   <div class="services-list js-services-filter">
      <div class="services-list__header animate-it _animated">
         <div class="services-list__btn-holder">
            <div class="services-dd">
               <button type="button" class="services-dd__btn btn _type_default _size_lg _wide"><span class="services-dd__btn-text">Все сценарии</span><span class="services-dd__btn-icon"></span></button>
               <div class="services-dd__popup">
                  <button type="button" class="services-dd__close"></button>
                  <div class="shortcuts">
                     <a href="#all" class="shortcuts__item js-services-filter-link">
                        <div class="shortcuts__hero">
                           <img src="{% static 'assets/images/all.svg' %}" alt="" class="shortcuts__image">
                        </div>
                        <div class="shortcuts__text js-services-filter-text">Все</div>
                     </a>

                      {% for service in services %}
                     <a href="#solution-{{ service.pk }}" class="shortcuts__item js-services-filter-link">
                        <div class="shortcuts__hero">
                           <img src="{{ service.icon.url }}" alt="" class="shortcuts__image">
                        </div>
                        <div class="shortcuts__text js-services-filter-text">{{ service.title }}</div>
                     </a>
                      {% endfor %}

                  </div>
               </div>
            </div>
         </div>
         <h2 class="services-list__title">Сценарии использования Emercoin</h2>
      </div>

      <div class="services-list__body _grid">
          {% for service in services %}
         <div class="solution animate-it js-services-filter-item _animated" id="solution-{{ service.pk }}">
            <div class="solution__body">
               <div class="solution__hero">
                  <img src="{{ service.icon.url }}" alt="" class="solution__image">
               </div>
               <div class="solution__content">
                  <div class="solution__title">{{ service.title }}</div>
                  <div class="solution__text">
                    {{ service.text_more|safe }}
                  </div>
                  <div class="solution__more">
                     <div class="solution__more-item">
                        <a href="{% url 'service' slug=service.slug %}" class="more-link">Больше о {{ service.title }}</a>
                     </div>
                  </div>
               </div>
            </div>
            <div class="solution__details">
               <span class="solution__details-text">Покзать лучшее решение</span>
            </div>
            <div class="solution__info">
               <div class="solution__info-title">{{ service.title }} подходит для:</div>
               <div class="solution__list">
                   {% for solution in service.best_for %}
                  <div class="solution__list-item">{{ solution }}</div>
                  {% endfor %}
               </div>
            </div>
         </div>
          {% endfor %}

      </div>
   </div>

   <div class="connect animate-it">
      <div class="connect__title">Присоединяйтесь с сообществу разработчиков</div>
      <div class="connect__list">
         <a href="{% url 'emercoin-api' %}" class="connect__link _type_api">
            <div class="connect__link-inner">
               <img src="{% static 'assets/images/connect-emercoin.svg' %}" alt="" class="connect__image">
               <span class="connect__text">Emercoin Api</span>
            </div>
         </a>
         <a href="https://github.com/emercoin" target="_blank" rel="nofollow" class="connect__link _type_github">
            <div class="connect__link-inner">
               <img src="{% static 'assets/images/connect-github.svg' %}" alt="" class="connect__image">
               <span class="connect__text">Код на Github</span>
            </div>
         </a>
         <a href="https://t.me/emernews" target="_blank" rel="nofollow" class="connect__link _type_telegram">
            <div class="connect__link-inner">
               <img src="{% static 'assets/images/connect-telegram.svg' %}" alt="" class="connect__image">
               <span class="connect__text">Телеграм</span>
            </div>
         </a>
      </div>
   </div>
   {% include 'blocks_ru/block_clients.html' with companies=companies %}
</main>
{% endblock content %}