{% extends 'blankpage_en.html' %}
{% load static %}
{% block title %}
    For Business
{% endblock title %}

{% block meta %}
    {% include "misc/link-rels.html" %}
    <meta name="keywords" content="Business, Solutions" />
        <meta name="description" content="How a business can use Emercoin" />
        <meta property="og:title" content="For Business" />
{% endblock %}

{% block content %}

<main>
   <div class="intro _short">
   <div class="intro__inner animate-it _animated">
      <h1 class="intro__title">For Business</h1>
      <div class="intro__hero">
                <img src="{% static 'assets/images/business.png' %}" srcset="{% static 'assets/images/business@2x.png' %} 2x" alt="" class="intro__image">
      </div>
      <div class="intro__body">
         <div class="intro__text">
            <div class="intro__visible-2">
               <div class="intro__visible-2">
                  <p>Emercoin offers a wide array of dSDKs for business blockchain solutions. Due to their decentralization, they are more reliable, transparent, secure and innovative as compared to their centralized counterparts. Blockchain technology has an immense range of potential uses for financial, public and private records.</p>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
    <div class="b-services animate-it _animated">
   <div class="b-services__title">Blockchain services</div>
   <div class="b-services__slider swiper-container swiper-container-horizontal">
      <div class="swiper-wrapper" style="transform: translate3d(0px, 0px, 0px); height: 342px;">
         <div class="b-services__item swiper-slide swiper-slide-active" style="width: 380px;">
            <div class="b-service">
               <div class="b-service__hero">
                  <img src="{% static 'assets/images/icon-easy-and-fast.svg' %}" alt="" class="b-service__image">
               </div>
               <div class="b-service__caption">Easy&amp;Fast</div>
               <div class="b-service__text">Ease of implementation – do not require specialized knowledge and skills in blockchain technologies. A set of dSDKs allows to implement Emercoin blockchain technologies in any business area quickly</div>
            </div>
         </div>
         <div class="b-services__item swiper-slide swiper-slide-next" style="width: 380px;">
            <div class="b-service">
               <div class="b-service__hero">
                  <img src="{% static 'assets/images/icon-reliability.svg' %}" alt="" class="b-service__image">
               </div>
               <div class="b-service__caption">Reliability</div>
               <div class="b-service__text">Emercoin utilizes PoW and PoS consensus algorithms that make it super safe and invulnerable to hacker attacks.</div>
            </div>
         </div>
         <div class="b-services__item swiper-slide" style="width: 380px;">
            <div class="b-service">
               <div class="b-service__hero">
                  <img src="{% static 'assets/images/icon-flexible.svg' %}" alt="" class="b-service__image">
               </div>
               <div class="b-service__caption">Flexible</div>
               <div class="b-service__text">Emercoin blockchain is built in such a way that you can use it in any industry, be it finances, manufacturing, technology and many more</div>
            </div>
         </div>
      </div>

   </div>
</div>
   <div class="services-list js-services-filter">
   <div class="services-list__header animate-it">
      <div class="services-list__btn-holder">
         <div class="services-dd">
            <button type="button" class="services-dd__btn btn _type_default _size_lg _wide"><span class="services-dd__btn-text">All industries</span><span class="services-dd__btn-icon"></span></button>
            <div class="services-dd__popup">
               <button type="button" class="services-dd__close"></button>
               <div class="shortcuts">
                  <a href="#all" class="shortcuts__item js-services-filter-link">
                     <div class="shortcuts__hero">
                        <img src="{% static 'assets/images/all.svg' %}" alt="" class="shortcuts__image">
                     </div>
                     <div class="shortcuts__text js-services-filter-text">All industries</div>
                  </a>
                  <a href="#industry-1" class="shortcuts__item js-services-filter-link">
                     <div class="shortcuts__hero">
                        <img src="{% static 'images/old_uploads/bcccf39d8e29c7ce8eb77e958a8a2deb.svg' %}" alt="" class="shortcuts__image">
                     </div>
                     <div class="shortcuts__text js-services-filter-text">Aerospace industry</div>
                  </a>
                  <a href="#industry-7" class="shortcuts__item js-services-filter-link">
                     <div class="shortcuts__hero">
                        <img src="{% static 'images/old_uploads/fbc691d475fd7dc522943dca24958a73.svg' %}" alt="" class="shortcuts__image">
                     </div>
                     <div class="shortcuts__text js-services-filter-text">Education Services</div>
                  </a>
                  <a href="#industry-2" class="shortcuts__item js-services-filter-link">
                     <div class="shortcuts__hero">
                        <img src="{% static 'images/old_uploads/331593911e35ba726b22dc2ba22835c2.svg' %}" alt="" class="shortcuts__image">
                     </div>
                     <div class="shortcuts__text js-services-filter-text">Fertilizers &amp; Agricultural Chemicals</div>
                  </a>
                  <a href="#industry-5" class="shortcuts__item js-services-filter-link">
                     <div class="shortcuts__hero">
                        <img src="{% static 'images/old_uploads/f799e5e1204a48e12237a94af25df56a.svg' %}" alt="" class="shortcuts__image">
                     </div>
                     <div class="shortcuts__text js-services-filter-text">Pharmaceutical industry</div>
                  </a>
               </div>
            </div>
         </div>
      </div>
      <h2 class="services-list__title">The benefits of Emercoin blockchain for industries</h2>
   </div>
   <div class="services-list__body">
      <div class="industry animate-it js-services-filter-item" id="industry-1">
         <div class="industry__header">
            <div class="industry__title">Aerospace industry</div>
            <div class="industry__hero">
               <img src="{% static 'images/old_uploads/bcccf39d8e29c7ce8eb77e958a8a2deb.svg' %}" alt="" class="industry__image">
            </div>
         </div>
         <div class="industry__body">
            <div class="industry__group">
               <div class="industry__info">
                  <div class="industry__text">
                     <div class="industry__info">
                        <div class="industry__caption"><a href="{% url 'the-emerdpo-antifake-programme' %}">EmerDPO</a> Antifake allows to store information about parts for aerospace industry and combat counterfeiting.</div>
                        <div class="industry__caption">&nbsp;</div>
                        <div class="industry__caption">Problem</div>
                        <div class="industry__text">
                           <p>Unlike other industries, counterfeiting in aerospace industry may have life or death consequences. Counterfeited parts may cause serious problems and lead to crash-landing or even to a plane crash. The risks are huge and even though members of aerospace association try to combat the problem, they can’t identify the time and place where counterfeit parts enter aerospace supply chain.</p>
                        </div>
                     </div>
                     <div class="industry__info">
                        <div class="industry__caption">Solution</div>
                        <div class="industry__text">
                           <p>Emercoin anti-fake solution offers a new, elegant and secure way for the aerospace industry to deter counterfeiting and to improve maintenance capabilities. Cooperation wideness and geography makes blockchain solution for building trust between cooperators the most suitable to move further.</p>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="industry__base">
                  <div class="industry__subcaption">Based on</div>
                  <div class="tags">
                     <a href="{% url 'service' slug='emerdpo' %}" class="tags__item">EmerDPO</a>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="industry animate-it js-services-filter-item" id="industry-7">
         <div class="industry__header">
            <div class="industry__title">Education Services</div>
            <div class="industry__hero">
               <img src="{% static 'images/old_uploads/fbc691d475fd7dc522943dca24958a73.svg' %}" alt="" class="industry__image">
            </div>
         </div>
         <div class="industry__body">
            <div class="industry__group">
               <div class="industry__info">
                  <div class="industry__text">
                     <div class="industry__info">
                        <div class="industry__text">
                           <p><a href="{% url 'the-emerdpo-antifake-programme' %}">EmerDPO</a> Antifake allows to store records about all issued educational certificates.</p>
                        </div>
                     </div>
                     <div class="industry__info">
                        <div class="industry__caption">Problem</div>
                        <div class="industry__text">
                           <p>Every year people buy roughly 200 000 degrees around the world, 30% of job candidates lie about their education and companies selling fake diplomas earn $51 millions a year. It is an urgent problem for all industries and countries.</p>
                        </div>
                     </div>
                     <div class="industry__info">
                        <div class="industry__caption">Solution</div>
                        <div class="industry__text">
                           <p>Emercoin blockchain and EmerDPO Antifake could address a global challenge among educators, businesses and graduates to certify the online accuracy and authenticity of education credentials. Students, graduates, recruiters, employers, and employees – all would benefit from a system that can quickly verify the credibility of online educational certificates and diplomas.</p>
                           <p>EmerDPo is a decentralized ledger of ownership built on Emercoin blockchain certificates and can be used in any industry where there is a need to validate the ownership or authenticity of both physical and digital goods and services.</p>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="industry__base">
                  <div class="industry__subcaption">Based on</div>
                  <div class="tags">
                     <a href="{% url 'service' slug='emerdpo' %}" class="tags__item">EmerDPO</a>
                  </div>
               </div>
            </div>
         </div>
      </div>

      <div class="industry animate-it js-services-filter-item" id="industry-2">
         <div class="industry__header">
            <div class="industry__title">Fertilizers &amp; Agricultural Chemicals</div>
            <div class="industry__hero">
               <img src="{% static 'images/old_uploads/331593911e35ba726b22dc2ba22835c2.svg' %}" alt="" class="industry__image">
            </div>
         </div>
         <div class="industry__body">
            <div class="industry__group">
               <div class="industry__info">
                  <div class="industry__text">
                     <div class="industry__info">
                        <div class="industry__text">
                           <p><a href="{% url 'the-emerdpo-antifake-programme' %}" target="_blank" rel="noopener">Anti-Counterfeiting</a> - protection of agrucultural chemical products from counterfeiting</p>
                        </div>
                     </div>
                     <div class="industry__info">
                        <div class="industry__caption">Problem</div>
                        <div class="industry__text">
                           <p>Agricultural Chemicals market is largely affected by counterfeiting. Thus, as per a study conducted by <a href="https://www.europol.europa.eu/content/press/europol-warns-growing-trade-counterfeit-pesticides-worth-billions-euros-year-1237" target="_blank" rel="nofollow noopener">Europol</a>, about 15% of Agrochemical products sold in the world would be counterfeit.</p>
                           <p>The world faces the task to produce more with less cultivable lands. The quality of chemicals and seeds in agriculture are very important. And usually, they are a subject for counterfeit, especially when we talk about global brands. The cost of losses in case of a nonqualitative product or counterfeit has been used can be tremendous and imposes a risk of food contamination due to the usage of untested chemical substances.</p>
                        </div>
                     </div>
                     <div class="industry__info">
                        <div class="industry__caption">Solution</div>
                        <div class="industry__text">
                           <p>Emercoin Blockchain-based solution can help to establish a bridge full of trust between chemical/seeds producer and farmer. EmerDPO Antifake program can store the full range of data, from information about supply chain to details regarding manufactured fertilizers and agricultural chemicals. Manufacturers, farmers and customers can view the data and check the authenticity of produced seeds and chemicals.</p>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="industry__base">
                  <div class="industry__subcaption">Based on</div>
                  <div class="tags">
                     <a href="{% url 'service' slug='emerdpo' %}" class="tags__item">EmerDPO</a>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="industry animate-it js-services-filter-item" id="industry-5">
         <div class="industry__header">
            <div class="industry__title">Pharmaceutical industry</div>
            <div class="industry__hero">
               <img src="{% static 'images/old_uploads/f799e5e1204a48e12237a94af25df56a.svg' %}" alt="" class="industry__image">
            </div>
         </div>
         <div class="industry__body">
            <div class="industry__group">
               <div class="industry__info">
                  <div class="industry__text">
                     <div class="industry__info">
                        <div class="industry__text">
                           <p><a href="{% url 'the-emerdpo-antifake-programme' %}" target="_blank" rel="noopener">Anti-Counterfeiting</a> – protection of pharmaceuticals from counterfeiting</p>
                        </div>
                     </div>
                     <div class="industry__info">
                        <div class="industry__caption">Problem</div>
                        <div class="industry__text">
                           <p>According to Interpol, more than 200,000 people die worldwide annually from counterfeit anti-allergy drugs alone. The World Health Organization (WHO) has estimated that approximately ten percent of the world’s pharmaceutical products could be counterfeit with much higher rates in developing countries. In 2017, the Pharma market was valued at 1.04 trillion dollars and the counterfeit industry at $100bn.</p>
                        </div>
                     </div>
                     <div class="industry__info">
                        <div class="industry__caption">Solution</div>
                        <div class="industry__text">
                           <p>Emercoin antifake solution is essential for pharmaceutical industry. It can be used to keep records about produced medicine in blockchain. Customers would be able to identify the authenticity of medicine and to detect counterfeit products as it is impossible to create unique ID without an encrypted private key.</p>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="industry__base">
                  <div class="industry__subcaption">Based on</div>
                  <div class="tags">
                     <a href="{% url 'service' slug='emerdpo' %}" class="tags__item">EmerDPO</a>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>

    {% include 'blocks_en/block_clients.html' with companies=companies %}

</main>
{% endblock content %}