{% extends "base.html" %}
{% load static %}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html" dir="ltr" lang="ru">

<head>
    <title>Официальный сайт блокчейн-платформы Emercoin. Децентрализованные решения для бизнеса</title>
    {% block css %}
    <link href="{% static 'assets/css/style.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'assets/css/new.css' %}" rel="stylesheet" type="text/css">
    {% endblock css %}
    {% block open_scrypt %}
    <script type="application/ld+json">
        [{
                "@context": "http://schema.org",
                "@type": "Organization",
                "name": "Emercoin",
                "url": "https://emercoin.com",
                "logo": "{% static  'assets/images/logo.svg' %}"
            },
            {
                "@context": "http://schema.org/",
                "@type": "Product",
                "name": "EMC Coin",
                "offers": {
                    "@type": "Offer",
                    "priceCurrency": "USD",
                    "price": "0.08",
                    "availability": "http://schema.org/InStock"
                }
            },
            {
                "@context": "http://schema.org",
                "@type": "BreadcrumbList",
                "itemListElement": [{
                    "@type": "ListItem",
                    "position": 1,
                    "item": {
                        "@id": "Emercoin",
                        "name": "https://emercoin.com"
                    }
                }, {
                    "@type": "ListItem",
                    "position": 2,
                    "item": {
                        "@id": "Cryptocurrency",
                        "name": "https://emercoin.com/ru"
                    }
                }, {
                    "@type": "ListItem",
                    "position": 3,
                    "item": {
                        "@id": "Download Wallet",
                        "name": "https://emercoin.com/ru/benefits#download"
                    }
                }, {
                    "@type": "ListItem",
                    "position": 4,
                    "item": {
                        "@id": "Buy Emercoin",
                        "name": "https://emercoin.com/ru/benefits#buy"
                    }
                }]
            }
        ]
    </script>
    <script src="{% static 'assets/js/modernizr.custom.js' %} " type="text/javascript"></script>
    {% endblock open_scrypt %}
</head>

<body class="ru">

{#    <noscript>#}
{#    <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KV4MJVZ"#}
{#            height="0" width="0" style="display:none;visibility:hidden"></iframe>#}
{#    </noscript>#}

    <div class="loader" style="display: none;"></div>

    {% block content %}
    <main>

        {% include 'block_promo.html' with promos=promos %}

        <div class="blueLightBox">
            <div class="wrapper">
                <ul class="topLinkList">
                    <li>
                        <a href="https://emercoin.com/ru/emercoin-blockchain"><span>Блокчейн Emercoin</span></a>
                    </li>
                    <li>
                        <a href="https://emercoin.com/ru/benefits#download"><span>Купить Emercoin</span></a>
                    </li>
                    <li>
                        <a href="#techsolutions"><span class="dotted">Наши сервисы</span></a>
                    </li>
                    <li>
                        <a href="#UpcomingEvents"><span class="dotted">События</span></a>
                    </li>
                    <li>
                        <a href="https://emercoin.com/ru/our-social-communities"><span>Cообщество</span></a>
                    </li>
                </ul>
            </div>
        </div>


      {% include 'block_about_blockchain.html' with emer_blocks=emer_blocks %}


        <div class="blueBox blueBox-still center ">
            <div class="wrapper">
                <div class="whiteTitle">
                    У вас ещё нет Emercoin? </div>
                <a class="button button-blue" target="_blank" href="https://emercoin.com/ru/benefits#download">Скачать кошелек</a>
            </div>
        </div>



       {% include 'block_services.html' with services=services %}
        {% include 'block_media.html' with medium=medium %}
        {% include 'block_roadmap.html' with roadmap=roadmap %}


        <div class="wrapper">
            <div class="bigTitle bigTitle-latest">
                Последние новости <a class="button button-hideRight" href="https://emercoin.com/ru/news">Прочесть все</a>
            </div>
            <div class="latestNews swiper-container">
                <div class="swiper-wrapper">
                    <a href="https://emercoin.com/ru/news/file-validator" class="latestNews-item swiper-slide">
                        <div class="latestNews-item-img">
                            <img src="https://emercoin.com/images/uploads/670ce7133c778048e50b48217f04fbe5.jpg" alt="File Validator" />
                        </div>
                        <div class="latestNews-item-info">
                            <div class="latestNews-item-info-date">September 02, 2020</div>
                            <div class="latestNews-item-info-text">File Validator</div>
                            <div class="more">Узнать больше</div>
                        </div>
                    </a>
                    <a href="https://emercoin.com/ru/news/augustseptember-digest" class="latestNews-item swiper-slide">
                        <div class="latestNews-item-img">
                            <img src="https://emercoin.com/images/uploads/6edec4187943c0de766d1e1870a53cc2.png" alt="Дайджест август-сентябрь" />
                        </div>
                        <div class="latestNews-item-info">
                            <div class="latestNews-item-info-date">October 14, 2019</div>
                            <div class="latestNews-item-info-text">Дайджест август-сентябрь</div>
                            <div class="more">Узнать больше</div>
                        </div>
                    </a>
                    <a href="https://emercoin.com/ru/news/logging-on-to-livecoinnet-with-emerssl" class="latestNews-item swiper-slide">
                        <div class="latestNews-item-img">
                            <img src="https://emercoin.com/images/uploads/ebbb57d5a137f7bb6d7e434f4474ce2a.jpg" alt="На биржу LiveCoin.net  можно зайти используя блокчейн-сертификат EmerSSL" />
                        </div>
                        <div class="latestNews-item-info">
                            <div class="latestNews-item-info-date">September 16, 2019</div>
                            <div class="latestNews-item-info-text">На биржу LiveCoin.net можно зайти используя блокчейн-сертификат EmerSSL</div>
                            <div class="more">Узнать больше</div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="box box-latest box-hideDesktop">
                <a class="button" href="https://emercoin.com/ru/news">Прочесть все</a>
            </div>
        </div>
        <div class="blueBox blueBox-subscribe center ">
            <div class="fix_ok fix_ok-blue">
                <div class="fix_ok-text white"></div>
            </div>
            <div class="wrapper">
                <div class="whiteTitle">
                    Подписаться
                    <div class="whiteTitle whiteTitle-min">на новости и события</div>
                </div>
                <form class="subscribe boxSubscribe" method="post" data-action="https://emercoin.com/ru/json/subscribe">
                    <div class="box_input">
                        <div class="label_input label_input-min">E-mail</div>
                        <div class="relative">
                            <input class="form_input" type="text" name="email" />
                        </div>
                    </div>
                    <button class="button button-blue button-blue-subscribe" type="submit">Подписаться</button>
                    <div class="actions"></div>
                </form>
            </div>
        </div>
{#        <div class="wrapper">#}
{#            <div class="bigTitle bigTitle-tweets">#}
{#                Твиты </div>#}
{#            <div class="tweetsBox">#}
{#                <a href="https://twitter.com/emercoin_press/status/1159129472047693825" rel="nofollow" target="_blank" class="tweetsBox-item">#}
{#                    <div class="tweetsBox-item-top">#}
{#                        <img src="https://pbs.twimg.com/profile_images/1067350262942175232/8MjfLpLt_normal.jpg" alt="" />#}
{#                        <div class="top-text">#}
{#                            <div class="top-text-title">Emercoin</div>#}
{#                            <div class="top-text-mail">@emercoin_press</div>#}
{#                        </div>#}
{#                    </div>#}
{#                    <div class="tweetsBox-item-text">Emercoin digest — July 2019 https://t.co/QApJivQIoQ https://t.co/MimQjpEz54</div>#}
{#                    <div class="tweetsBox-item-image"><img src="https://pbs.twimg.com/media/EBYOGhlW4AIfOvm.jpg" /></div>#}
{#                    <div class="tweetsBox-item-date">03:49 PM - 07 Aug 2019</div>#}
{#                </a>#}
{#                <a href="https://twitter.com/emercoin_press/status/1153523710621605888" rel="nofollow" target="_blank" class="tweetsBox-item">#}
{#                    <div class="tweetsBox-item-top">#}
{#                        <img src="https://pbs.twimg.com/profile_images/1067350262942175232/8MjfLpLt_normal.jpg" alt="" />#}
{#                        <div class="top-text">#}
{#                            <div class="top-text-title">Emercoin</div>#}
{#                            <div class="top-text-mail">@emercoin_press</div>#}
{#                        </div>#}
{#                    </div>#}
{#                    <div class="tweetsBox-item-text">RT @XBTS_EXCHANGE: New coins have been added to the Paper Wallet Generator: Emercoin $EMC and Litecoin $LTC are available. Paper Wallet G…</div>#}
{#                    <div class="tweetsBox-item-date">04:34 AM - 23 Jul 2019</div>#}
{#                </a>#}
{#            </div>#}
{#            <div class="box box-tweets">#}
{#                <a class="button button-tweets" href="https://twitter.com/emercoin_press" rel="nofollow" target="_blank" onclick="if (!window.__cfRLUnblockHandlers) return false; dataLayer.push({'event': 'other_community'});" data-cf-modified-="">Подписаться</a>#}
{#            </div>#}
{#        </div>#}


        <div class="teamBox">
            <div class="wrapper">
                <div class="bigTitle bigTitle-team center">
                    Встречайте команду Emercoin
                </div>
                <div class="staff swiper-container">
                    <div class="staff__wrapper swiper-wrapper">
                        <div class="staff__item swiper-slide">
                            <div class="product">
                                <div class="product-img">
                                    <div class="product-social">
                                        <a href="https://www.facebook.com/oleg.khovayko" rel="nofollow" target="_blank"><img src="https://emercoin.com/assets/images/social_fb.svg" alt=""></a>
                                        <a href="https://www.linkedin.com/in/oleg-khovayko-78a2165/" rel="nofollow" target="_blank"><img src="https://emercoin.com/assets/images/social_ln.svg" alt=""></a>
                                    </div>
                                    <img src="https://emercoin.com/images/uploads/405006fcc04233119f2db3c92fcdb3bc.jpg" srcset="https://emercoin.com/images/uploads/a9d1e8a779303eb72903cba2fd3d4768.jpg 2x" alt="Олег Ховайко" />
                                </div>
                                <div class="product-title">Олег Ховайко</div>
                                <div class="product-text">Эксперт по криптографии и финансовым технологиям</div>
                            </div>
                        </div>
                        <div class="staff__item swiper-slide">
                            <div class="product">
                                <div class="product-img">
                                    <div class="product-social">
                                        <a href="https://www.linkedin.com/in/eugene-shumilov-108671b2/" rel="nofollow" target="_blank"><img src="https://emercoin.com/assets/images/social_ln.svg" alt=""></a>
                                    </div>
                                    <img src="https://emercoin.com/images/uploads/6c791f3fb0202fd7c8c3d8574540d9be.jpg" srcset="https://emercoin.com/images/uploads/6b54ac394aa9a93212df81f7642c4958.jpg 2x" alt="Евгений Шумилов" />
                                </div>
                                <div class="product-title">Евгений Шумилов</div>
                                <div class="product-text">Основатель</div>
                            </div>
                        </div>
                        <div class="staff__item swiper-slide">
                            <div class="product">
                                <div class="product-img">
                                    <img src="https://emercoin.com/images/uploads/6aff4cf6b15afd46474d734fb1d4d3f0.jpg" srcset="https://emercoin.com/images/uploads/ae39a67676e6a05473095861c7675600.jpg 2x" alt="Евгений Меренков" />
                                </div>
                                <div class="product-title">Евгений Меренков</div>
                                <div class="product-text">Ведущий разработчик</div>
                            </div>
                        </div>
                        <div class="staff__item swiper-slide">
                            <div class="product">
                                <div class="product-img">
                                    <div class="product-social">
                                        <a href="https://www.linkedin.com/in/mvoevodskiy/" rel="nofollow" target="_blank"><img src="https://emercoin.com/assets/images/social_ln.svg" alt=""></a>
                                    </div>
                                    <img src="https://emercoin.com/images/uploads/70a46af3be014cae02ba3011ac12b61c.jpg" srcset="https://emercoin.com/images/uploads/6e0394b58069cb06ac31137ac2a0908a.jpg 2x" alt="Михаил Воеводский" />
                                </div>
                                <div class="product-title">Михаил Воеводский</div>
                                <div class="product-text">Интеграционный архитектор и сооснователь Школы Emercoin.</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box box-team">
                    <a class="button" href="https://emercoin.com/ru/team">Вся команда</a>
                </div>


                <div class="bigTitle bigTitle-team center two">
                    Наши советники </div>
                <div class="staff swiper-container">
                    <div class="staff__wrapper swiper-wrapper">
                        <div class="staff__item swiper-slide">
                            <div class="product">
                                <div class="product-img">
                                    <div class="product-social">
                                        <a href="https://www.facebook.com/chijs" rel="nofollow" target="_blank"><img src="https://emercoin.com/assets/images/social_fb.svg" alt=""></a>
                                        <a href="https://www.linkedin.com/in/chijs/" rel="nofollow" target="_blank"><img src="https://emercoin.com/assets/images/social_ln.svg" alt=""></a>
                                        <a href="https://twitter.com/chijs" target="_blank"><img src="https://emercoin.com/assets/images/social_twitter.svg" alt=""></a>
                                    </div>
                                    <img src="https://emercoin.com/images/uploads/22fa7b5954c76fa6c0f3008eb5b507f6.jpg" srcset="https://emercoin.com/images/uploads/19ca2d6ad250c4e9a0b5e462560e9022.jpg 2x" alt="Марк ван дер Хейс" />
                                </div>
                                <div class="product-title">Марк ван дер Хейс</div>
                                <div class="product-text">Основатель First Block Capital</div>
                            </div>
                        </div>
                        <div class="staff__item swiper-slide">
                            <div class="product">
                                <div class="product-img">
                                    <div class="product-social">
                                        <a href="https://www.linkedin.com/in/morio-kurosaki-30043543/" rel="nofollow" target="_blank"><img src="https://emercoin.com/assets/images/social_ln.svg" alt=""></a>
                                    </div>
                                    <img src="https://emercoin.com/images/uploads/eac5127765cf078d87b49c44acfe1548.jpg" srcset="https://emercoin.com/images/uploads/30e2a1a0c68d9ed8739c5a355b14e84e.jpg 2x" alt="Морио Куросаки" />
                                </div>
                                <div class="product-title">Морио Куросаки</div>
                                <div class="product-text">Президент IT FARM и посол Emercoin в Японии</div>
                            </div>
                        </div>
                        <div class="staff__item swiper-slide">
                            <div class="product">
                                <div class="product-img">
                                    <div class="product-social">
                                        <a href="https://www.facebook.com/sysman.net" rel="nofollow" target="_blank"><img src="https://emercoin.com/assets/images/social_fb.svg" alt=""></a>
                                    </div>
                                    <img src="https://emercoin.com/images/uploads/79161799989236c9feb9969a86dfd3b0.jpg" srcset="https://emercoin.com/images/uploads/b7f84cd859c4314896c54ac304530db4.jpg 2x" alt="Алекс Петров" />
                                </div>
                                <div class="product-title">Алекс Петров</div>
                                <div class="product-text">CIO, Bitfury Group</div>
                            </div>
                        </div>
                        <div class="staff__item swiper-slide">
                            <div class="product">
                                <div class="product-img">
                                    <div class="product-social">
                                        <a href="https://www.linkedin.com/in/tareq-al-memari-a35464b0/" rel="nofollow" target="_blank"><img src="https://emercoin.com/assets/images/social_ln.svg" alt=""></a>
                                    </div>
                                    <img src="https://emercoin.com/images/uploads/371929f418a38dd9854dded3998654a2.jpg" srcset="https://emercoin.com/images/uploads/49ecb1373f315c77e0de662521ccb8bc.jpg 2x" alt="Тарек Аль-Мемари" />
                                </div>
                                <div class="product-title">Тарек Аль-Мемари</div>
                                <div class="product-text">Портфолио-менеджер в Пенсионном фонде Абу-Даби и посол Emercoin на Ближнем Востоке и в Северной Африке</div>
                            </div>
                        </div>
                        <div class="staff__item swiper-slide">
                            <div class="product">
                                <div class="product-img">
                                    <div class="product-social">
                                        <a href="https://www.facebook.com/eunchul.lee.986" rel="nofollow" target="_blank"><img src="https://emercoin.com/assets/images/social_fb.svg" alt=""></a>
                                        <a href="https://www.linkedin.com/in/은철-이-8944a6b7/" rel="nofollow" target="_blank"><img src="https://emercoin.com/assets/images/social_ln.svg" alt=""></a>
                                    </div>
                                    <img src="https://emercoin.com/images/uploads/4dd952404f7a652ad3dbd1b9e6f91ad7.png" srcset="https://emercoin.com/images/uploads/36ec6c0a46b2516a5c7f8db12d8ece8f.png 2x" alt="Ын Чул Ли" />
                                </div>
                                <div class="product-title">Ын Чул Ли</div>
                                <div class="product-text">Посол Emercoin в Корее</div>
                            </div>
                        </div>
                        <div class="staff__item swiper-slide">
                            <div class="product">
                                <div class="product-img">
                                    <div class="product-social">
                                        <a href="https://www.linkedin.com/in/marctaverner/" rel="nofollow" target="_blank"><img src="https://emercoin.com/assets/images/social_ln.svg" alt=""></a>
                                    </div>
                                    <img src="https://emercoin.com/images/uploads/303f0d0edc517bb6925ed177ab1de9fb.jpg" srcset="https://emercoin.com/images/uploads/15d84b2f337a2bc573108a741def6f82.jpg 2x" alt="Марк Тавернер" />
                                </div>
                                <div class="product-title">Марк Тавернер</div>
                                <div class="product-text">Посол Emercoin в Северной Америке и Европе</div>
                            </div>
                        </div>
                    </div>
                </div>
                <span id="bp_mobile" class="bp_checking team_checking"></span>
            </div>
        </div>
    </main>
    {% endblock content %}
    {% include 'footer.html' %}

    <div class="up"></div>
    {% block scrypt %}
{#    <script src="//www.google.com/recaptcha/api.js" type="text/javascript"></script>#}
    <script src="{% static  'assets/js/jquery.js' %}" type="text/javascript"></script>
    <script src="{% static  'assets/js/script.js' %}" type="text/javascript"></script>
    <script src="{% static  'assets/js/js.js' %}" type="text/javascript"></script>

    <script src="{% static  'assets/js/owl.carousel.min.js' %}" type="text/javascript"></script>
    <script src="{% static  'assets/js/swiper.min.js' %}" type="text/javascript"></script>
    <script src="{% static  'assets/js/fancybox-3.min.js' %}" type="text/javascript"></script>
    <script src="{% static  'assets/js/in-viewport.min.js' %}" type="text/javascript"></script>
    <script src="{% static  'assets/js/plugins.js' %}" type="text/javascript"></script>
    <script src="{% static  'assets/js/autosize.min.js' %}" type="text/javascript"></script>
    <script src="{% static  'assets/js/common.js' %}" type="text/javascript"></script>
    <script src="{% static  'assets/js/new.js' %}" type="text/javascript"></script>
    <script src="{% static  'assets/js/jquery.nicescroll.min.js' %}" type="text/javascript"></script>
        <!--[if IE]>
    <script src="{% static  'assets/js/html5shiv.js' %}" type="text/javascript"></script>
    <script src="{% static  'assets/js/respond.min.js' %}"></script>
    <![endif]-->
    {#    <script src="https://ajax.cloudflare.com/cdn-cgi/scripts/7089c43e/cloudflare-static/rocket-loader.min.js" data-cf-settings="|49" defer=""></script>#}
    {% endblock scrypt %}
</body>
</html>