{% load static %}
<header>
        <div class="header">
            <div class="wrapper">
                <div class="header-left">
                    <div class="logo">
                        <a href="https://emercoin.com/ru"></a>
                    </div>
                    <ul class="header-left-menu">
                        <li><a href="https://emercoin.com/ru/for-business">Для бизнеса</a></li>
                        <li><a href="https://emercoin.com/ru/for-coinholders">Владельцам монет</a></li>
                        <li><a href="https://emercoin.com/ru/for-developers">Разработчикам</a></li>
                        <li><a href="https://emercoin.com/ru/our-social-communities">Cообщество</a></li>
                    </ul>
                    <div class="header-left-top">

                        <a href="https://emercoin.com/ru/for-coinholders#download" class="get _theme_orange _margin_l_sm" onclick="if (!window.__cfRLUnblockHandlers) return false; dataLayer.push({ event: 'getwallet_click' })" data-cf-modified-="">Скачать кошелек</a>
                        <a id="AB-button" href="https://emercoin.com/ru/for-coinholders#buy" data-AB="Скачать кошелек" class="get" onclick="if (!window.__cfRLUnblockHandlers) return false; dataLayer.push({'event': 'getemercoin_click'});" style="border-radius: 5px;" data-cf-modified-="">Купить Emercoin</a>
                    </div>
                    <div id="pull">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                    <div class="closeMenu"></div>
                </div>
            </div>
            <div class="lineHeader"></div>
            <div class="wrapper">
                <div class="header-right">
                    <div class="header-right-top">

                        <a href="https://emercoin.com/ru/benefits#buy" class="get" onclick="if (!window.__cfRLUnblockHandlers) return false; dataLayer.push({ event: 'getemercoin_click' })" style="border-radius: 5px" data-cf-modified-="">Купить Emercoin</a>
                        <a href="https://emercoin.com/ru/benefits#download" class="get _theme_orange _margin_l_sm" onclick="if (!window.__cfRLUnblockHandlers) return false; dataLayer.push({ event: 'getwallet_click' })" data-cf-modified-="">Скачать кошелек</a>
                    </div>
                    <nav>
                        <ul class="menuTop">
                            <li class="mobileShow"><a href="https://emercoin.com/ru/for-business">Для бизнеса</a></li>
                            <li class="mobileShow"><a href="https://emercoin.com/ru/for-coinholders">Владельцам монет</a></li>
                            <li class="mobileShow"><a href="https://emercoin.com/ru/for-developers">Разработчикам</a></li>
                            <li class="mobileShow"><a href="https://emercoin.com/ru/our-social-communities">Cообщество</a></li>
                            <li>
                                <span class="link_menu ">Технологии</span>
                                <ul class="dropdown_menu">
                                    <li>
                                        <a href="/ru/emercoin-blockchain">Блокчейн Emercoin</a>
                                    </li>
                                    <li>
                                        <a href="/ru/tech-solutions">Технологии</a>
                                    </li>
                                    <li>
                                        <a href="/ru/documentation/introduction/specifications">Спецификации</a>
                                    </li>
                                    <li>
                                        <a href="/ru/documentation/emercoin-api">Справочник API</a>
                                    </li>
                                    <li>
                                        <a href="/ru/documentation/about-emercoin">Общая документация</a>
                                    </li>
                                    <li>
                                        <a href="https://github.com/emercoin" target="_blank" rel="nofollow">Наш GitHub</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <span class="link_menu ">Экономика</span>
                                <ul class="dropdown_menu">
                                    <li>
                                        <a href="/ru/benefits">Почему Emercoin?</a>
                                    </li>
                                    <li>
                                        <a href="/ru/benefits#download">Купить Emercoin</a>
                                    </li>
                                    <li>
                                        <a href="/ru/benefits#download">Скачайте кошелёк</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <span class="link_menu ">Обозреватели блокчейна</span>
                                <ul class="dropdown_menu">
                                    <li>
                                        <a href="https://explorer.emercoin.com/" target="_blank" rel="nofollow">Первый</a>
                                    </li>
                                    <li>
                                        <a href="https://explorer1.emercoin.com" target="_blank" rel="nofollow">Второй</a>
                                    </li>
                                    <li>
                                        <a href="https://explorer2.emercoin.com" target="_blank" rel="nofollow">Третий</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <span class="link_menu ">Новости</span>
                                <ul class="dropdown_menu">
                                    <li>
                                        <a href="/ru/news">Последние новости</a>
                                    </li>
                                    <li>
                                        <a href="/ru/events">События</a>
                                    </li>
                                    <li>
                                        <a href="/ru/road-map">Road Map</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <span class="link_menu ">О нас</span>
                                <ul class="dropdown_menu">
                                    <li>
                                        <a href="/ru/contacts">Контакты</a>
                                    </li>
                                    <li>
                                        <a href="/ru/partners-and-projects">Наши партнеры</a>
                                    </li>
                                    <li>
                                        <a href="/ru/team">Наша команда</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <span class="link_menu">
                                <span class="flag" style="background-image: url({% static 'assets/img/flag/ru.svg' %})"></span> ru
                                </span>
                                <ul class="dropdown_menu lang_menu">
                                    <li>
                                        <a href="https://emercoin.com/en">
                                        <span class="flag" style="background-image: url({% static 'assets/img/flag/en.svg' %})"></span> en
</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
    </header>