{% extends 'blankpage_en.html' %}
{% load static %}
{% block title %}
    Emercoin Latest News
{% endblock title %}

{% block meta %}
    {% include "misc/link-rels.html" %}
    <meta name="keywords" content="News, Emercoin" />
        <meta name="description" content="Emercoin - latest 21 news" />
        <meta property="og:title" content="Emercoin Latest News" />
{% endblock %}

{% block content %}

<main>
   <div class="privacyPage-top">
      <h1>Emercoin Latest News</h1>
   </div>
   <div class="wrapper content news">
      <div class="newsAllBox">
          {% for post in page %}
              {% if post.title_en %}
         <a href="{% url 'post' slug=post.slug %}" class="latestNews-item">
            <div class="latestNews-item-img">
               <img src="{{ post.image_en.url }}" alt="{{ post.title_en }} " loading="lazy" width="350">
            </div>
            <div class="latestNews-item-info">
               <div class="latestNews-item-info-date">{{ post.date }}</div>
               <div class="latestNews-item-info-text">{{ post.title_en }}</div>
               <div class="more">Learn more</div>
            </div>
         </a>
              {% endif %}
          {% endfor %}
       </div>

   {% include 'misc/paginator.html' with page=page paginator=paginator %}

   </div>

   <div class="blueBox blueBox-socset blueBox-gray center">
      <div class="wrapper">
         <div class="whiteTitle whiteTitle-small">Join us and find out about the latest updates:</div>
         <a class="button button-telegram" href="https://t.me/emercoin_official" rel="nofollow" target="_blank">Telegram</a>
         <a class="button button-tweets two" href="https://x.com/emercoin_press" rel="nofollow" target="_blank">X</a>
      </div>
   </div>
</main>

{% endblock content %}