{% extends 'blankpage.html' %}
{% load static %}
{% block content %}
<main>
   <div class="privacyPage-top">
      <h1>Команда Эмеркоин</h1>
   </div>
   <div class="teamPage">
      <div class="wrapper">
         <div class="teamPage-box">

             {% for person in persons %}
                 {% if person.is_team %}
            <div class="product" data-cooperator="{{ person.pk }}">
               <div class="product-img">
                  <img src="{{ person.image.url }}" srcset="{{ person.image.url }} 2x" alt="{{ person.name }}">
               </div>
               <div class="product-title">{{ person.name }}</div>
               <div class="product-text">{{ person.whois }}</div>
                {% include 'misc/product-social.html' with person=person %}
               <div class="product-info">
                  {{ person.info_short|safe }}
               </div>
            </div>
                 {% endif %}
             {% endfor %}

         </div>
      </div>
      <div class="lineTime"></div>
      <div class="wrapper">
         <div class="bigTitle bigTitle-big bigTitle-teamPage center">
            Наши советники
         </div>
         <div class="teamPage-box teamPage-box-two">
             {% for person in persons %}
                 {% if person.is_adviser %}
            <div class="product">
               <div class="product-img">
                  <img src="{{ person.image.url }}" srcset="{{ person.image.url }} 2x" alt="{{ person.name }}">
               </div>
               <div class="product-title">{{ person.name }}</div>
               <div class="product-text">{{ person.whois }}</div>

               {% include 'misc/product-social.html' with person=person %}

               <div class="product-info">
                  {{ person.info_short|safe }}
               </div>
               <div class="detail-text" style="display: none;">
                  {{ person.info|safe }}
               </div>
{#               <div class="button go">Read more</div>#}
            </div>
                {% endif %}
             {% endfor %}

         </div>
      </div>
   </div>
</main>
{% endblock content %}