{% extends "blankpage.html" %}
{% load static %}

{% block title %}
    Наши сервисы
{% endblock title %}



    {% block content %}
<Description>Сценарии использования Emercoin</Description>
<main>
    <div class="infobox _bg_transparent">
        <div class="infobox__inner">
            <div class="infobox__header">
                <div class="h1">Emercoin Наши сервисы</div>
            </div>
            <div class="infobox__body">
                <div class="h2">
                    О блокчейне Emercoin
                </div>
                <p>
                    Emercoin специализируется на криптовалюте и блокчейне. Начиная с 2013 года, она разработала широкий спектр простых в использовании dSDK. dSDK (Decentralized Software Development Kit) представляет собой набор инструментов для разработки программного обеспечения, который позволяет создавать программное обеспечение, сервисы и решения. Обычно он включает в себя API, техническую документацию и фрагменты кода для быстрой и легкой разработки на определенной платформе.
                </p>
                <p>
                    dSDK уже успешно используются в многочисленных инновационных технических решениях, построенных на блокчейне. Emercoin предоставляет сервисы, которые могут изменить работу различных отраслей, обеспечивая средства для защиты данных, безопасного хранения информации и создания распределенных сервисов.
                </p>
                <p>
                    Писать же поверх блокчейна Emercoin — это как программировать на высокоуровневом языке. Благодаря этому команда Emercoin смогла разработать целый ряд блокчейн-решений на его основе.
                </p>
            </div>
        </div>
    </div>
    <div class="separator"></div>
    <div class="services">
        <div class="services__header" id="services">
            <div class="h2">Наши сервисы</div>
        </div>
        <div class="services__thumbs-holder">
            <div class="services__thumbs swiper-container swiper-container-horizontal">
                <div class="swiper-wrapper" style="transform: translate3d(0px, 0px, 0px);">

{% for serv in services %}
                        <div class="services__thumb swiper-slide" onclick="if (!window.__cfRLUnblockHandlers) return false; dataLayer.push({'event': 'GAevent', 'eventCategory': 'Tech Solutions', 'eventAction': 'Click', 'eventLabel': '{{ serv.title }}'});">
                            <div class="services__thumb-hero">
                                <img src="{{ serv.icon.url }}" width="92" height="106" alt="" class="services__icon">
                                    <svg width="92" height="106" viewBox="0 0 92 106" xmlns="http://www.w3.org/2000/svg" class="services__icon-overlay">
                                        <path transform="translate(46, 53) rotate(-270) translate(-46, -53)" d="M20.3720365,8.5 L-5.26881213,53.0001277 L20.372034,97.5 L71.2543848,97.5 L97.2591745,53.0058554 L70.8442824,8.5 L20.3720365,8.5 Z" class="services__icon-overlay-path"></path>
                                    </svg>
                                </div>
                                <div class="services__caption">{{ serv.title }}</div>
                        </div>
 {% endfor %}

                                                    </div>
                                                    <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span>
                                                </div>
                                                <button class="services__arrow _type_prev swiper-button-disabled" tabindex="0" role="button" aria-label="Previous slide" aria-disabled="true"></button>
                                                <button class="services__arrow _type_next" tabindex="0" role="button" aria-label="Next slide" aria-disabled="false"></button>
                                            </div>
                                            <div class="services__content swiper-container swiper-container-horizontal swiper-container-autoheight">
                                                <div class="swiper-wrapper" style="height: 783px; transform: translate3d(0px, 0px, 0px);">

                                                   {% for serv in services %}
                                                    <div class="services__item swiper-slide swiper-slide-active" style="width: 1658px;">
                                                        <div class="services__item-inner">
                                                            <div class="services__hero">
                                                                <img src="{{ serv.image.url }}" alt="" class="services__image"></div>
                                                                <div class="services__body">
                                                                    <div class="services__item-text">
{#                                                                        <div class="technology__documentation">#}
{#                                                                            <a class="btn _type_default _size_md" href="https://emercoin.com/documentation/blockchain-services/emerdns/emerdns-introduction">Документация EmerDNS</a>#}
{#                                                                        </div>#}
                                                                        {{ serv.text|safe }}
                                                                        {{ serv.text_more|safe }}
                                                                    </div>
                                                                    <div class="s-links">
                                                                        <div class="s-links__list">
                                                                            <div class="s-links__item">
                                                                                <a href="{% url 'specifications' %}" class="s-links__link _type_spec" rel="nofollow" target="_blank">
                                                                                    <span class="s-links__text">Спецификации</span>
                                                                                </a>
                                                                            </div>
                                                                            <div class="s-links__item">
                                                                                <a href="{% url 'emercoin-api' %}" class="s-links__link _type_api" rel="nofollow" target="_blank">
                                                                                    <span class="s-links__text">Справочник API</span>
                                                                                </a>
                                                                            </div>
                                                                            <div class="s-links__item">
                                                                                <a href="{% url 'about-emercoin' %}" class="s-links__link _type_doc" rel="nofollow" target="_blank">
                                                                                    <span class="s-links__text">Общая документация</span>
                                                                                </a>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    {% endfor %}


                                                </div>
                                                <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span>
                                            </div>
    </div>
</main>

{#                                                                    <div class="blueBox blueBox-contact blueBox-gray center formShow">#}
{#                                                                        <div class="wrapper">#}
{#                                                                            <div class="whiteTitle whiteTitle-contact">#}
{#                                                                                Вопросы?#}
{#                                                                            </div>#}
{#                                                                            <a class="button button-blue formOpen">Напишите нам</a>#}
{#                                                                        </div>#}
{#                                                                    </div>#}
{#                                                                    <div class="blueBox blueBox-form blueBox-gray center formHidden">#}
{#                                                                        <div class="wrapper">#}
{#                                                                            <div class="whiteTitle whiteTitle-form">#}
{#                                                                                Напишите нам#}
{#                                                                            </div>#}
{#                                                                            <div class="fix_ok">#}
{#                                                                                <div class="fix_ok-text"></div>#}
{#                                                                            </div>#}
{#                                                                            <form class="formBox feedback" data-action="https://emercoin.com/ru/json/feedback">#}
{#                                                                                <input type="hidden" name="page_uri" value="/ru/tech-solutions">#}
{#                                                                                    <div class="box_input box_input-form">#}
{#                                                                                        <div class="label_input black necessarily">Полное имя</div>#}
{#                                                                                        <div class="relative">#}
{#                                                                                            <input class="form_input" type="text" name="name"></div>#}
{#                                                                                        </div>#}
{#                                                                                        <div class="box_input box_input-form">#}
{#                                                                                            <div class="label_input black necessarily">E-mail</div>#}
{#                                                                                            <div class="relative">#}
{#                                                                                                <input class="form_input" type="text" name="email"></div>#}
{#                                                                                            </div>#}
{#                                                                                            <div class="box_input box_input-form">#}
{#                                                                                                <div class="label_input black necessarily">Сообщение</div>#}
{#                                                                                                <div class="relative relative-textarea">#}
{#                                                                                                    <textarea class="form_textarea" name="message"></textarea>#}
{#                                                                                                </div>#}
{#                                                                                            </div>#}
{#                                                                                            <div class="relative actions">#}
{#                                                                                                <div class="box_input box_input-form two">#}
{#                                                                                                    <button class="button button-blue button-blue-subscribe" type="submit">Отправить</button>#}
{#                                                                                                </div>#}
{#                                                                                                <p class="answer"></p>#}
{#                                                                                            </div>#}
{#                                                                                        </form>#}
{#                                                                                    </div>#}
{#                                                                                </div>#}



    {% endblock content %}
