{% load cache %}
{% cache None ServerError %}
{% load static %}

<html class=" js csstransforms3d csstransitions">
   <head>
      <title>500</title>
      <meta name="Description" content="Emercoin">
      <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
      <link href="{% static 'assets/css/style.css' %}" rel="stylesheet" type="text/css">
   </head>
   <body class="error">
      <div class="box_flex">
         <div class="b_box_error">
            <div class="logo_error">
               <a href="{% url 'emercoin' %}">
               <img src="{% static 'assets/images/logo-white.svg' %}" alt="Emercoin">
               </a>
            </div>
             {% if request.LANGUAGE_CODE == 'ru' %}
                 <div class="center_error">
                       <span>500</span><br>
                       Internal server error
                    </div>
                    <div class="text_error">
                       The server is under maintenance
                    </div>
                    <div class="box_button_error">
                       <a class="button button-error" href="{% url 'emercoin' %}">
                       go back </a>
                    </div>
             {% else %}
                    <div class="center_error">
                       <span>500</span><br>
                       Internal Server Error
                    </div>
                    <div class="text_error">
                       Z-z-z-z-z-z....
                    </div>
                    <div class="box_button_error">
                       <a class="button button-error" href="{% url 'emercoin' %}">
                       return to the homepage </a>
                    </div>
             {% endif %}
         </div>
      </div>

   </body>
</html>
{% endcache %}