<section class="bounty-program _filled">
      <div class="bounty-program__inner animate-it _animated">
         <div class="bounty-program__header">
            <h2 class="bounty-program__title">Программа маркетинговых вознаграждений</h2>
            <p>Участвуйте в развитии проекта, популяризируйте Emercoin и получайте вознаграждения.</p>
         </div>
         <div class="bounty-program__body">
            <ul class="bounty-program__items">
               <li class="bounty-program__item">
                  <div class="bounty-box">
                     <div class="bounty-box__image-wrapper">
                        <img src="https://emercoin.com/assets/images/bounty-video.svg" alt="Награда за видео" class="bounty-box__img">
                     </div>
                     <div class="bounty-box__content">
                        <h3 class="bounty-box__title">Награда за видео</h3>
                        <p>Создавайте и публикуйте видео об Emercoin на YouTube и получайте вознаграждения за вклад в развитие проекта.</p>
                        <a href="/ru/bounty#video-bounty" class="btn _type_info bounty-box__btn-link">Узнать больше</a>
                     </div>
                  </div>
               </li>
               <li class="bounty-program__item">
                  <div class="bounty-box">
                     <div class="bounty-box__image-wrapper">
                        <img src="https://emercoin.com/assets/images/bounty-article.svg" alt="Награда за статьи" class="bounty-box__img">
                     </div>
                     <div class="bounty-box__content">
                        <h3 class="bounty-box__title">Награда за статьи</h3>
                        <p>
                           Пишите и публикуйте статьи, посвященные Emercoin, и получайте вознаграждения за вклад в развитие проекта.
                        </p>
                        <a href="/ru/bounty#article-bounty" class="btn _type_info bounty-box__btn-link">Узнать больше</a>
                     </div>
                  </div>
               </li>
               <li class="bounty-program__item">
                  <div class="bounty-box">
                     <div class="bounty-box__image-wrapper">
                        <img src="https://emercoin.com/assets/images/cpc-model.svg" alt="Сотрудничество по модели CPC" class="bounty-box__img">
                     </div>
                     <div class="bounty-box__content">
                        <h3 class="bounty-box__title">Сотрудничество по модели CPC</h3>
                        <p>Сотрудничайте с Emercoin и получайте оплату за трафик и привлечение инфлюенсеров.</p>
                        <a href="/ru/bounty#cpc-model" class="btn _type_info bounty-box__btn-link">Узнать больше</a>
                     </div>
                  </div>
               </li>
            </ul>
         </div>
      </div>
   </section>