 <div class="solutions-docs animate-it js-services-filter-item _animated" id="solution-docs">
            <div class="solutions-docs__list">
               <a href="https://emercoin.com/ru/documentation" target="_blank" class="solutions-docs__link">
                  <div class="solutions-docs__link-inner">
                     <div class="solutions-docs__hero">
                        <img src="/assets/images/general-documentations.svg" alt="" class="solutions-docs__image">
                     </div>
                     <div class="solutions-docs__caption">Общая документация</div>
                  </div>
               </a>
               <a href="https://github.com/emercoin" target="_blank" class="solutions-docs__link">
                  <div class="solutions-docs__link-inner">
                     <div class="solutions-docs__hero">
                        <img src="/assets/images/github.svg" alt="" class="solutions-docs__image">
                     </div>
                     <div class="solutions-docs__caption">View on GitHub</div>
                  </div>
               </a>
            </div>
         </div>