 <section class="videobox animate-it _animated">
      <h2 class="h2 videobox__title">Новое в YouTube</h2>
      <div class="videobox__body">
         <div class="videobox__tabs">
            <a href="#dB1qKNfwhy0" class="videobox__tab _active">
               <div class="videobox__tab-inner ">
                  <div class="videobox__tab-hero" style="background-image: url(https://i.ytimg.com/vi/dB1qKNfwhy0/mqdefault.jpg);"></div>
                  <div class="videobox__tab-body">
                     <time datetime="Y-m-d" class="videobox__date _type-tab">July 06, 2019</time>
                     <p class="videobox__tab-caption">EmerAPI KeyKeeper getting started (getting entry BONUS!) #2</p>
                  </div>
               </div>
            </a>
            <a href="#jNpQ6BOME4g" class="videobox__tab ">
               <div class="videobox__tab-inner ">
                  <div class="videobox__tab-hero" style="background-image: url(https://i.ytimg.com/vi/jNpQ6BOME4g/mqdefault.jpg);"></div>
                  <div class="videobox__tab-body">
                     <time datetime="Y-m-d" class="videobox__date _type-tab">July 06, 2019</time>
                     <p class="videobox__tab-caption">EmerAPI KeyKeeper Getting Started #1</p>
                  </div>
               </div>
            </a>
         </div>
         <div class="videobox__item _active" id="dB1qKNfwhy0" data-video-id="dB1qKNfwhy0">
            <div class="videobox__item-hero">
               <iframe class="videobox__iframe" frameborder="0" allowfullscreen="1" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" title="YouTube video player" width="640" height="360" src="https://www.youtube.com/embed/dB1qKNfwhy0?autoplay=0&amp;modestbranding=1&amp;rel=0&amp;enablejsapi=1&amp;origin=https%3A%2F%2Femercoin.com&amp;widgetid=1" id="widget2"></iframe>
               <a href="https://www.youtube.com/watch?v=dB1qKNfwhy0" class="videobox__link" style="background-image: url(https://i.ytimg.com/vi/dB1qKNfwhy0/hqdefault.jpg);"></a>
            </div>
            <div class="videobox__item-body">
               <time datetime="Y-m-d" class="videobox__date">July 06, 2019</time>
               <p class="videobox__item-caption">EmerAPI KeyKeeper getting started (getting entry BONUS!) #2 </p>
            </div>
         </div>
         <div class="videobox__item " id="jNpQ6BOME4g" data-video-id="jNpQ6BOME4g">
            <div class="videobox__item-hero">
               <iframe class="videobox__iframe" frameborder="0" allowfullscreen="1" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" title="YouTube video player" width="640" height="360" src="https://www.youtube.com/embed/jNpQ6BOME4g?autoplay=0&amp;modestbranding=1&amp;rel=0&amp;enablejsapi=1&amp;origin=https%3A%2F%2Femercoin.com&amp;widgetid=3" id="widget4"></iframe>
               <a href="https://www.youtube.com/watch?v=jNpQ6BOME4g" class="videobox__link" style="background-image: url(https://i.ytimg.com/vi/jNpQ6BOME4g/hqdefault.jpg);"></a>
            </div>
            <div class="videobox__item-body">
               <time datetime="Y-m-d" class="videobox__date">July 06, 2019</time>
               <p class="videobox__item-caption">EmerAPI KeyKeeper Getting Started #1 </p>
            </div>
         </div>
      </div>
      <div class="videobox__subscribe">
         <a class="btn videobox__subscribe-button _type_info" href="https://www.youtube.com/channel/UCeHlonUkITqe4PtpW8p4wmg" onclick="if (!window.__cfRLUnblockHandlers) return false; dataLayer.push({'event': 'other_community'});">Подписаться</a>
      </div>
   </section>