<div class="worklog js-worklog">
      <div class="worklog__header">
         <div class="worklog__header-inner">
            <h2 class="worklog__title">Roadmap</h2>
            <div class="worklog__filter js-worklog-filter">
               <div class="worklog__filter-list js-worklog-filter-wrapper">
                  <div class="worklog__filter-item js-worklog-filter-slide"><a href="#" data-type="all" class="worklog__filter-link _active js-worklog-tab">Все события</a></div>
                  <div class="worklog__filter-item js-worklog-filter-slide"><a href="#" data-type="business" class="worklog__filter-link js-worklog-tab">Бизнес</a></div>
                  <div class="worklog__filter-item js-worklog-filter-slide"><a href="#" data-type="technology" class="worklog__filter-link js-worklog-tab">Технологии</a></div>
               </div>
            </div>
         </div>
      </div>
      <div class="worklog__content">
         <div class="worklog__body">
            <div class="worklog__years">
               <div class="worklog__years-container swiper-container swiper-no-swiping js-worklog-years-slider swiper-container-vertical">
                  <div class="swiper-wrapper js-worklog-years-slider-wrapper">
                     <div class="worklog__years-item _current swiper-slide js-worklog-years-slide _active" style="height: 80px;">In the work</div>
                     <div class="worklog__years-item swiper-slide js-worklog-years-slide _next" style="height: 80px;">2017</div>
                     <div class="worklog__years-item swiper-slide js-worklog-years-slide" style="height: 80px;">2016</div>
                     <div class="worklog__years-item swiper-slide js-worklog-years-slide" style="height: 80px;">2015</div>
                     <div class="worklog__years-item swiper-slide js-worklog-years-slide" style="height: 80px;">2014</div>
                     <div class="worklog__years-item swiper-slide js-worklog-years-slide" style="height: 80px;">2013</div>
                  </div>
                  <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span>
               </div>
            </div>
            <div class="worklog__events swiper-container js-worklog-events-slider swiper-container-fade swiper-container-horizontal swiper-container-autoheight">
               <div class="swiper-wrapper js-worklog-events-slider-wrapper" style="height: 278px;">
                  <div class="worklog__events-item swiper-slide js-worklog-events-slide _active" data-year="2018" style="width: 610px; opacity: 1; transform: translate3d(0px, 0px, 0px);">
                     <div class="events js-worklog-events-holder">
                        <div class="events__list-wrapper js-worklog-events-wrapper">
                           <div class="events__list js-worklog-events-list">
                              <div class="events__item js-worklog-event" data-type="technology">Выпустить версию 0.7.0 кошелька с поддержкой Segwit и улучшенными ядром и DNS-подсистемой.</div>
                              <div class="events__item js-worklog-event" data-type="technology">Завершить внедрение ATOM — безопасного протокола для P2P-продажи NVS-записей (DNS, земельные сертификаты и т. д.).</div>
                              <div class="events__item js-worklog-event" data-type="technology">Выпустить Randpay — второе поколение лотерейной агрегации платежей.</div>
                           </div>
                        </div>
                        <div class="events__more js-worklog-more _hidden">
                           <a href="#" class="events__more-link js-worklog-more-link" data-alt-text="Show less"><span class="events__more-text js-worklog-more-text">Узнать больше</span></a>
                        </div>
                     </div>
                  </div>
                  <div class="worklog__events-item swiper-slide js-worklog-events-slide _next" data-year="2017" style="width: 610px; opacity: 0; transform: translate3d(-610px, 0px, 0px);">
                     <div class="events js-worklog-events-holder">
                        <div class="events__list-wrapper js-worklog-events-wrapper">
                           <div class="events__list js-worklog-events-list">
                              <div class="events__item js-worklog-event" data-type="technology">Emercoin включён в каталог сертифицированного ПО RedHat.</div>
                              <div class="events__item js-worklog-event" data-type="technology">Тройной майнинг: PoS + PoW + комайнинг.</div>
                              <div class="events__item js-worklog-event" data-type="technology">Улучшения в ядре, включая полную децентрализацию.</div>
                              <div class="events__item js-worklog-event" data-type="technology">Мгновенный обмен Emercoin на другие криптовалюты через API внешних обменников (ShapeShift, CoinReform и т. д.).</div>
                              <div class="events__item js-worklog-event" data-type="technology">Создание и запуск ENUMER — блокчейн-платформы голосовой связи.</div>
                              <div class="events__item js-worklog-event" data-type="technology">Запуск публичного тестового блокчейна с веб-обозревателем.</div>
                              <div class="events__item js-worklog-event _hidden" data-type="business">UnaDesk пытается децентрализовать рынок недвижимости и коммунальных услуг с использованием блокчейна Emercoin</div>
                              <div class="events__item js-worklog-event _hidden" data-type="business">Истории успеха: Deloitte, eZuce, РЖД, SipXcom, HashCoin, AbitSystems</div>
                              <div class="events__item js-worklog-event _hidden" data-type="business">Emercoin появляется на биржах HitBTC, Indacoin, BITTREX и USDX</div>
                           </div>
                        </div>
                        <div class="events__more js-worklog-more">
                           <a href="#" class="events__more-link js-worklog-more-link" data-alt-text="Show less"><span class="events__more-text js-worklog-more-text">Узнать больше</span></a>
                        </div>
                     </div>
                  </div>
                  <div class="worklog__events-item swiper-slide js-worklog-events-slide" data-year="2016" style="width: 610px; opacity: 0; transform: translate3d(-1220px, 0px, 0px);">
                     <div class="events js-worklog-events-holder">
                        <div class="events__list-wrapper js-worklog-events-wrapper">
                           <div class="events__list js-worklog-events-list">
                              <div class="events__item js-worklog-event" data-type="business">Emercoin появляется на биржах BTC38 и xBTCe</div>
                              <div class="events__item js-worklog-event" data-type="business">Сотрудничество с Организацией Объединённых Наций</div>
                              <div class="events__item js-worklog-event" data-type="technology">Партнёрство с Microsoft BaaS и появление приложения “Blockchain Engine” в каталоге MS Azure.</div>
                              <div class="events__item js-worklog-event" data-type="technology">Первое реальное использование EmerDPO фермой «Колионово».</div>
                              <div class="events__item js-worklog-event" data-type="technology">Оптимизатор транзакций, защищающий блокчейн от «раздувания».</div>
                              <div class="events__item js-worklog-event" data-type="technology">Распределённые и динамические контрольные точки.</div>
                           </div>
                        </div>
                        <div class="events__more js-worklog-more _hidden">
                           <a href="#" class="events__more-link js-worklog-more-link" data-alt-text="Show less"><span class="events__more-text js-worklog-more-text">Узнать больше</span></a>
                        </div>
                     </div>
                  </div>
                  <div class="worklog__events-item swiper-slide js-worklog-events-slide" data-year="2015" style="width: 610px; opacity: 0; transform: translate3d(-1830px, 0px, 0px);">
                     <div class="events js-worklog-events-holder">
                        <div class="events__list-wrapper js-worklog-events-wrapper">
                           <div class="events__list js-worklog-events-list">
                              <div class="events__item js-worklog-event" data-type="technology">Создание и реализация блокчейн-сервисов в области безопасности.</div>
                              <div class="events__item js-worklog-event" data-type="technology">EmerSSH — децентрализованная инфраструктура открытых ключей и списки контроля доступа.</div>
                              <div class="events__item js-worklog-event" data-type="technology">EmerSSL — беспарольная аутентификация на сайтах.</div>
                              <div class="events__item js-worklog-event" data-type="technology">InfoCard — подсистема электронных визитных карточек в рамках EmerSSL.</div>
                              <div class="events__item js-worklog-event" data-type="technology">Начало работы над EmerDPO, EmerTTS и Magnet.</div>
                              <div class="events__item js-worklog-event" data-type="business">Emercoin появляется на биржах Livecoin, Cryptopia и YoBit</div>
                              <div class="events__item js-worklog-event _hidden" data-type="business">Emercoin входит в список двадцати самых популярных валют на Coinmarketcap</div>
                           </div>
                        </div>
                        <div class="events__more js-worklog-more">
                           <a href="#" class="events__more-link js-worklog-more-link" data-alt-text="Show less"><span class="events__more-text js-worklog-more-text">Узнать больше</span></a>
                        </div>
                     </div>
                  </div>
                  <div class="worklog__events-item swiper-slide js-worklog-events-slide" data-year="2014" style="width: 610px; opacity: 0; transform: translate3d(-2440px, 0px, 0px);">
                     <div class="events js-worklog-events-holder">
                        <div class="events__list-wrapper js-worklog-events-wrapper">
                           <div class="events__list js-worklog-events-list">
                              <div class="events__item js-worklog-event" data-type="technology">Реализация обнаружения IP через STUN dyndns.org.</div>
                              <div class="events__item js-worklog-event" data-type="technology">Запуск Name-Value Storage — универсальной платформы для расширения блокчейн-сервисов.</div>
                              <div class="events__item js-worklog-event" data-type="technology">Запуск EmerDNS — децентрализованной, неизменной и надёжной системы доменных имён.</div>
                           </div>
                        </div>
                        <div class="events__more js-worklog-more _hidden">
                           <a href="#" class="events__more-link js-worklog-more-link" data-alt-text="Show less"><span class="events__more-text js-worklog-more-text">Узнать больше</span></a>
                        </div>
                     </div>
                  </div>
                  <div class="worklog__events-item swiper-slide js-worklog-events-slide" data-year="2013" style="width: 610px; opacity: 0; transform: translate3d(-3050px, 0px, 0px);">
                     <div class="events js-worklog-events-holder">
                        <div class="events__list-wrapper js-worklog-events-wrapper">
                           <div class="events__list js-worklog-events-list">
                              <div class="events__item js-worklog-event" data-type="technology">Запущен в декабре 2013 года, как форк Peercoin.</div>
                           </div>
                        </div>
                        <div class="events__more js-worklog-more _hidden">
                           <a href="#" class="events__more-link js-worklog-more-link" data-alt-text="Show less"><span class="events__more-text js-worklog-more-text">Узнать больше</span></a>
                        </div>
                     </div>
                  </div>
               </div>
               <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span>
            </div>
            <button type="button" class="worklog__arrow _type_prev js-worklog-prev-button _disabled" tabindex="0" role="button" aria-label="Previous slide" aria-disabled="true"></button>
            <button type="button" class="worklog__arrow _type_next js-worklog-next-button" tabindex="0" role="button" aria-label="Next slide" aria-disabled="false"></button>
            <div class="worklog__info _type_prev js-worklog-prev-info"></div>
            <div class="worklog__info _type_next js-worklog-next-info">2017</div>
         </div>
      </div>
   </div>