<div class="wrapper">
            <div class="bigTitle bigTitle-latest">
                Last news <a class="button button-hideRight" href="{% url 'news' %}">Read all</a>
            </div>
            <div class="latestNews swiper-container">
                <div class="swiper-wrapper">
                    {% for post in news %}
                        {% if post.title_en %}
                    <a href="{% url 'post' slug=post.slug %}" class="latestNews-item swiper-slide">
                        <div class="latestNews-item-img">
                            <img src="{{ post.image_en.url }}" alt="{{ post.title_en }}" loading="lazy" width="350" />
                        </div>
                        <div class="latestNews-item-info">
                            <div class="latestNews-item-info-date">{{ post.date }}</div>
                            <div class="latestNews-item-info-text">{{ post.title_en }}</div>
                            <div class="more">Learn more</div>
                        </div>
                    </a>
                        {% endif %}
                    {% endfor %}

                </div>
            </div>
            <div class="box box-latest box-hideDesktop">
                <a class="button" href="{% url 'news' %}">Read all</a>
            </div>
        </div>