 <div class="clients _media">
            <div class="clients__header">
                <div class="h2 _center">Media about us</div>
            </div>
            <div class="clients__body">
                <div class="clients__slider swiper-container">
                    <div class="swiper-wrapper">
                        {% for media in medium %}
                        <div class="clients__item swiper-slide">
                            <a href="#media-{{ media.pk }}" class="clients__link _toggle" title="{{ media.name }}">
                                <div class="clients__hero">
                                    <img src="{{ media.logo.url }}" srcset="{{ media.logo_big.url }} 2x" alt="{{ media.name }}" class="clients__image" loading="lazy" />
                                </div>
                                {% if media.count > 1 %}
                                    <div class="clients__number">{{ media.count }}</div>
                                {% endif %}
                            </a>
                        </div>
                        {% endfor %}

                        </div>
                    </div>
                </div>

            <div class="clients__contents">
                <div class="clients__contents-wrapper">
                    {% for media in medium %}
                    <div class="clients__content" id="media-{{ media.pk }}">
                        <div class="newsline swiper-container">
                            <div class="swiper-wrapper">
                                {% for post in media.get_contents %}
                                <a href="{{ post.t_content.link }}" target="_blank" rel="nofollow" class="newsline__item swiper-slide">
                                    <div class="newsline__date">{{ post.t_content.date }}</div>
                                    <div class="newsline__text">{{ post.t_content.brif }}</div>
                                    <div class="newsline__more">
                                        <span class="newsline__more-text">Link</span>
                                    </div>
                                </a>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    {% endfor %}

                    </div>
                </div>
            </div>
