 <div class="wrapper services__block">
            <div class="bigTitle bigTitle-services center" id="techsolutions">Distributed blockchain services for business and personal use</div>
            <div class="businesBox">
                {% for service in services %}
                <a href="{{ service.slug }}" class="businesBox-item">
                    <div class="businesBox-item-img" style="background-image: url({{ service.icon.url }});"></div>
                    <div class="businesBox-item-title">{{ service.title }}</div>
                    <div class="businesBox-item-text">
                        {{ service.text_en|safe }}
                    </div>
                    <div class="businesBox-item-more">
                        <span>learn more</span>
                    </div>
                </a>
                {% endfor %}
            </div>
            <div class="box box-busines">
                <a class="button">Show all</a>
            </div>
        </div>