<div class="wrapper">
            <div class="bigTitle bigTitle-latest">
                Last news <a class="button button-hideRight" target="_blank" href="{% url 'news' %}">Read all</a>
            </div>
            <div class="latestNews swiper-container">
                <div class="swiper-wrapper">
                    {% for post in news %}
                        {% if post.title_en %}
                    <a href="{% url 'post' slug=post.slug %}" class="latestNews-item swiper-slide">
                        <div class="latestNews-item-img">
                            <img src="{{ post.image_en.url }}" alt="{{ post.title_en }}" loading="lazy" width="350" />
                        </div>
                        <div class="latestNews-item-info">
                            <div class="latestNews-item-info-date">{{ post.date }}</div>
                            <div class="latestNews-item-info-text">{{ post.title_en }}</div>
                            <div class="more">Learn more</div>
                        </div>
                    </a>
                        {% endif %}
                    {% endfor %}
{#                    <a href="https://emercoin.com/ru/news/augustseptember-digest" class="latestNews-item swiper-slide">#}
{#                        <div class="latestNews-item-img">#}
{#                            <img src="https://emercoin.com/images/uploads/6edec4187943c0de766d1e1870a53cc2.png" alt="Дайджест август-сентябрь" />#}
{#                        </div>#}
{#                        <div class="latestNews-item-info">#}
{#                            <div class="latestNews-item-info-date">October 14, 2019</div>#}
{#                            <div class="latestNews-item-info-text">Дайджест август-сентябрь</div>#}
{#                            <div class="more">Узнать больше</div>#}
{#                        </div>#}
{#                    </a>#}
{#                    <a href="https://emercoin.com/ru/news/logging-on-to-livecoinnet-with-emerssl" class="latestNews-item swiper-slide">#}
{#                        <div class="latestNews-item-img">#}
{#                            <img src="https://emercoin.com/images/uploads/ebbb57d5a137f7bb6d7e434f4474ce2a.jpg" alt="На биржу LiveCoin.net  можно зайти используя блокчейн-сертификат EmerSSL" />#}
{#                        </div>#}
{#                        <div class="latestNews-item-info">#}
{#                            <div class="latestNews-item-info-date">September 16, 2019</div>#}
{#                            <div class="latestNews-item-info-text">На биржу LiveCoin.net можно зайти используя блокчейн-сертификат EmerSSL</div>#}
{#                            <div class="more">Узнать больше</div>#}
{#                        </div>#}
{#                    </a>#}
                </div>
            </div>
            <div class="box box-latest box-hideDesktop">
                <a class="button" target="_blank" href="{% url 'news' %}">Read all</a>
            </div>
        </div>