{% load static %}
<footer class="footer">
    <div class="wrapper">
        <div class="footer-top">
            <div class="footer-top-right">
                <ul class="footer-top-right-menu">
                    <li>
                        <div class="title">EmerTech</div>
                        <div class="footerLink ">
                            <a href="{% url 'blockchain' %}">Emercoin Blockchain</a>
                        </div>
                        <div class="footerLink ">
                            <a href="{% url 'tech-solutions' %}">Tech Solutions</a>
                        </div>
                        <div class="footerLink ">
                            <a href="{%  url 'specifications' %}">Specifications</a>
                        </div>
                        <div class="footerLink ">
                            <a href="{% url 'emercoin-api' %}">API references</a>
                        </div>
                        <div class="footerLink ">
                            <a href="{% url 'about-emercoin' %}">General Documentations</a>
                        </div>
                        <div class="footerLink github">
                            <a href="https://github.com/emercoin" target="_blank" rel="nofollow">View on GitHub</a>
                        </div>
                    </li>
                    <li>
                        <div class="title">Emercoins</div>
                        <div class="footerLink ">
                            <a href="{% url 'for-coinholders' %}">Benefits</a>
                        </div>
                        <div class="footerLink ">
                            <a href="{% url 'for-coinholders' %}#download">Get Emercoin</a>
                        </div>
                        <div class="footerLink ">
                            <a href="{% url 'for-coinholders' %}#download">Download Wallet</a>
                        </div>
                    </li>
                    <li>
                        <div class="title">Explorers</div>
                        <div class="footerLink ">
                            <a href="https://explorer.emercoin.com/" target="_blank" rel="nofollow">Emer Explorer</a>
                        </div>
                        <div class="footerLink ">
                            <a href="https://explorer1.emercoin.com" target="_blank" rel="nofollow">Explorer 2</a>
                        </div>
                        <div class="footerLink ">
                            <a href="https://explorer2.emercoin.com" target="_blank" rel="nofollow">Explorer 3</a>
                        </div>
                    </li>
                    <li>
                        <div class="title">News</div>
                        <div class="footerLink ">
                            <a href="{% url 'news' %}">Latest News</a>
                        </div>

                        <div class="footerLink ">
                            <a href="{% url 'road-map' %}">Road Map</a>
                        </div>
                    </li>
                    <li>
                        <div class="title">About Us</div>
                        <div class="footerLink ">
                            <a href="{%  url 'team' %}">Our Team</a>
                        </div>
                        <div class="footerLink ">
                            <a href="{% url 'partners' %}">Our Partners</a>
                        </div>
                        <div class="footerLink ">
                            <a href="{% url 'contacts' %}">Contact us</a>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="footer-top-left">
                <ul class="footer-top-left-terms">
                    <li>
                        <a href="{% url 'terms' %}" target="_blank">Terms &amp; Conditions</a>
                    </li>
                    <li>
                        <a href="{% url 'privacy' %}" target="_blank">Privacy Policy</a>
                    </li>
                    <li>
                            <a href="{% static 'files/pdf/whitepaper.pdf' %}" target="_blank">Whitepaper</a>
                        </li>
                        <li>
                            <a href="{% static 'files/pdf/one-page.pdf' %}" target="_blank">One Pager</a>
                        </li>
                </ul>
                <div class="footer-top-left-socset">
                    <div class="title">Get updates through social media</div>
                    <div class="socialBox">
                        <a href="https://twitter.com/emercoin_press" rel="nofollow" target="_blank" class="social twitter" onclick="if (!window.__cfRLUnblockHandlers) return false; dataLayer.push({'event': 'other_community'});">twitter</a>
                        <a href="https://t.me/emercoin_official" rel="nofollow" target="_blank" class="social telegram" onclick="if (!window.__cfRLUnblockHandlers) return false; dataLayer.push({'event': 'telegram_community'});">telegram</a>
                        <a href="https://www.facebook.com/EmercoinOfficial/" rel="nofollow" target="_blank" class="social facebook" onclick="if (!window.__cfRLUnblockHandlers) return false; dataLayer.push({'event': 'other_community'});">facebook</a>
                        <a href="https://www.youtube.com/channel/UCeHlonUkITqe4PtpW8p4wmg" rel="nofollow" target="_blank" class="social youtube" onclick="if (!window.__cfRLUnblockHandlers) return false; dataLayer.push({'event': 'other_community'});">youtube</a>
                        <a href="https://medium.com/@emer.tech" rel="nofollow" target="_blank" class="social medium" onclick="if (!window.__cfRLUnblockHandlers) return false; dataLayer.push({'event': 'other_community'});">medium</a>
                        <a href="https://bitcointalk.org/index.php?topic=362513.0" rel="nofollow" target="_blank" class="social bitcointalk" onclick="if (!window.__cfRLUnblockHandlers) return false; dataLayer.push({'event': 'other_community'});">bitcointalk</a>
                        <a href="https://www.reddit.com/r/EmerCoin/" rel="nofollow" target="_blank" class="social reddit" onclick="if (!window.__cfRLUnblockHandlers) return false; dataLayer.push({'event': 'other_community'});">reddit</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-light">
        <div class="wrapper">
            <div class="footer-bottom">
                <div class="footer-bottom-right">
                    © {% now "Y" %} Emercoin
                </div>
            </div>
        </div>
    </div>
    <div class="join-telegram _absolute">
        <a href="https://t.me/emercoin_official?utm_source=EMERCOIN&amp;utm_medium=STICKYBUTTON&amp;utm_campaign=SITE_TG_STICKYBUTTON" rel="nofollow" target="_blank" class="join-telegram__link" onclick="if (!window.__cfRLUnblockHandlers) return false; dataLayer.push({'event': 'telegram_community'});">Join our Telegram Community</a>
        <button type="button" class="join-telegram__close"></button>
    </div>

</footer>