{% load cache %}
{% cache 600 naven %}
{% load static %}
<header>
<div class="header">
    <div class="wrapper">
        <div class="header-left">
            <div class="logo">
                <a href="{% url 'emercoin' %}"></a>
            </div>
            <ul class="header-left-menu">
                <li>
                    <a href="{% url 'for-business' %}">For business</a>
                </li>
                <li>
                    <a href="{% url 'for-coinholders' %}">For coinholders</a>
                </li>
                <li>
                    <a href="{% url 'for-developers' %}">How to use</a>
                </li>
                <li>
                    <a href="{% url 'socials' %}">Community</a>
                </li>
            </ul>
            <div class="header-left-top">
                <a href="{% url 'for-coinholders' %}#download" class="get _theme_orange _margin_l_sm" onclick="dataLayer.push({ event: 'getwallet_click' })">Get a wallet</a>
                <a id="AB-button" href="{% url 'for-coinholders' %}#buy" data-ab="Get a wallet" class="get" onclick="dataLayer.push({ event: 'getemercoin_click' })" style="border-radius: 5px">Get Emercoin</a>
            </div>
            <div id="pull">
                <span></span>
                <span></span>
                <span></span>
            </div>
            <div class="closeMenu"></div>
        </div>
    </div>
    <div class="lineHeader"></div>
    <div class="wrapper">
        <div class="header-right" style="display: flex;">
            <div class="header-right-top">
                <a href="{% url 'for-coinholders' %}#buy" class="get" onclick="dataLayer.push({ event: 'getemercoin_click' })" style="border-radius: 5px">Get Emercoin</a>
                <a href="{% url 'for-coinholders' %}#download" class="get _theme_orange _margin_l_sm" onclick="dataLayer.push({ event: 'getwallet_click' })">wallet</a>
            </div>
            <nav>
                <ul class="menuTop">
                    <li class="mobileShow">
                        <a href="{% url 'for-business' %}">For business</a>
                    </li>
                    <li class="mobileShow">
                        <a href="{% url 'for-coinholders' %}">For coinholders</a>
                    </li>
                    <li class="mobileShow">
                        <a href="{% url 'for-developers' %}">How to use</a>
                    </li>
                    <li class="mobileShow">
                        <a href="{% url 'socials' %}">Community</a>
                    </li>
                    <li>
                        <span class="link_menu ">EmerTech</span>
                        <ul class="dropdown_menu">
                            <li>
                                <a href="{% url 'blockchain' %}">Emercoin Blockchain</a>
                            </li>
                            <li>
                                <a href="{% url 'tech-solutions' %}">Tech Solutions</a>
                            </li>
                            <li>
                                <a href="{% url 'specifications' %}">Specifications</a>
                            </li>
                            <li>
                                <a href="{% url 'emercoin-api' %}">API references</a>
                            </li>
                            <li>
                                <a href="{% url 'about-emercoin' %}">General Documentations</a>
                            </li>
                            <li>
                                <a href="https://github.com/emercoin" target="_blank" rel="nofollow">View on GitHub</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <span class="link_menu ">Emercoins</span>
                        <ul class="dropdown_menu">
                            <li>
                                <a href="{% url 'for-coinholders' %}">Benefits</a>
                            </li>
                            <li>
                                <a href="{% url 'for-coinholders' %}#buy">Get Emercoin</a>
                            </li>
                            <li>
                                <a href="{% url 'for-coinholders' %}#download">Download Wallet</a>
                            </li>
                             <li>
                                <a href="{% url 'rate' %}">Rate</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <span class="link_menu ">Explorers</span>
                        <ul class="dropdown_menu">
                            <li>
                                <a href="https://explorer.emercoin.com/" target="_blank" rel="nofollow">Emer Explorer</a>
                            </li>
                            <li>
                                <a href="https://explorer1.emercoin.com" target="_blank" rel="nofollow">Explorer 2</a>
                            </li>
                            <li>
                                <a href="https://www.coinexplorer.net/EMC" target="_blank" rel="nofollow">Coinexplorer.net</a>
                            </li>
                            <li>
                                <a href="https://emc.tokenview.com" target="_blank" rel="nofollow">tokenview.com</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <span class="link_menu ">News</span>
                        <ul class="dropdown_menu">
                            <li>
                                <a href="{% url 'news'%}">Latest News</a>
                            </li>
                            <li>
                                <a href="{% url 'road-map' %}">Road Map</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <span class="link_menu ">About Us</span>
                        <ul class="dropdown_menu">
                            <li>
                                <a href="{% url 'team' %}">Our Team</a>
                            </li>
                            <li>
                                <a href="{% url 'partners' %}">Our Partners</a>
                            </li>
                            <li>
                                <a href="{%  url 'contacts' %}">Contact us</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        {% include 'misc/lang_selector.html' %}
                            </li>
                </ul>
            </nav>
        </div>
    </div>
</div>
</header>
{% endcache %}